:root{
    --active-text-color: #235ad1;
    --options-select-color:#3266d5;
    --soft-select-color: #4477e4a5;
    --warning-color:#ff2427;
    --warning-select-color:#ff00009d;
    --color-primary: #235ad1;
    --color-accept:#49ff24;
    --color-warning:#ff2427;
    --color-decline:#999999;
}

/* Общие стили */

* {
    font-family: 'Montserrat', sans-serif !important;
}

.corpus-tr {
    line-height: 36px;
}

.container-sm {
    max-width: 960px;
}

.errorlist {
    list-style: none;
}

.non-round{
    border-radius: 0px !important;
}

.non-padding{
    padding: 0 !important;
}

.non-border{
    border:0 !important;
}
.non-margin{
    margin:0px !important;
}

*::selection {
    background-color: #235ad1;
    color: white;
}

input:focus {
    /* border: 1px solid #0d6efd !important; */
    box-shadow: none !important;
}

/* Кастомные стили */

.head-text {
    text-align: center;
    margin-top: 70px;
}

.main-text {
    font-size: 24px;
    text-align: justify;
    margin-top: 50px;
}

.bottom-text {
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
}

.email {
    color: var(--color-primary);
    /* color: white; */
}

.pakt-btn {
    background-color: var(--color-primary);
    color: white;
    float: right;
    border-radius: 0;
}

select[readonly] {
    background-color: white !important;
}

.custom-input {
    position: relative;
    padding: 5px 0;
    border: 1px solid grey;
    /* border-radius: 0.25em; */
    margin-top: 20px;
}

.custom-input:focus-within {
    border-color: var(--color-primary);
}

.custom-input:has(.is-invalid) {
    border-color: red;
}

.custom-input > label {
    position: absolute;
    top: -12px;
    left: 20px;
    background-color:white;
    padding: 0 5px;
    font-size: 14px;
}

.custom-input > input {
    border: none;
    box-shadow: none !important;
    font-size: 14px;
}

.custom-input > select {
    border: none;
    box-shadow: none !important;
    font-size: 14px;
}

.custom-input > textarea {
    border: none;
    box-shadow: none !important;
    font-size: 14px;
}

.selectize-control {
    border: none;
    box-shadow: none !important;
    font-size: 14px;
    padding-bottom: 0;
    padding-top: 0;
}

.selectize-input {
    border: none;
    box-shadow: none !important;
    font-size: 14px;
    /* padding: 0; */
    background-image: none !important;
    background-color: #fff !important;
    
}

.active-text {
    color: var(--active-text-color);
}

.section-head-text{
    color:var(--active-text-color);
    font-size: 13pt;
    cursor:default;
}

.section-row{
    border-radius: 0 !important;
    padding: 0 !important;
}


.section-row-button{
    padding-left: 30px;
    border:0 !important;
    border-radius: 0 !important;
    background-color: white;
    color: var(--active-text-color);
    width:100%;
    text-align: left;
}

.section-row-button:hover{
    color:white;
    background-color: var(--options-select-color);
}

.cell-padding{
    padding-left: 20px !important;
    padding-right:5px !important;
}

.table-top-border{
    border-top-width: 2px;
    border-top-color: #d1d1d1;
}

.selectable-table-row:hover>td{
    background-color: #cbcbcb65 !important;
    /* color:white; */
}
.selectable-table-row>td{
    cursor: default;
}

.index-cell{
    color: #858585;
}

.cell-button{
    width:150px;
    height:40px;
    text-align: center;
    background-color: var(--active-text-color) !important;
}

.card-header-wbtn{
    padding: 0;
}

.list-option-btn{
    height: 100% !important;
    background-color: var(--active-text-color);
    border-radius: 0;
    border-top-right-radius: 20px;
    font-weight: 600;
    color: white;
    transition-duration: 0.5s;
    width: 250px;
}
.list-option-btn:hover{
    background-color: #0047b3;
    color:white;
}

.list-option-warning-btn{
    height: 100% !important;
    background-color: var(--warning-color);
    border-radius: 0;
    border-top-right-radius: 20px;
    font-weight: 600;
    color: white;
    transition-duration: 0.5s;
    width: 250px;
}
.list-option-warning-btn:hover{
    background-color: var(--warning-select-color);
    color:white;
}


.top-notification{
    margin:0px !important;
    border-radius: 0px !important;
}

.adapt-form>div, input{
    display: inline;
}

.field-append{
    padding-top:1pt;
    padding-left: 0;
    font-size: 16pt;
}

.info-line{
        color: var(--color-primary);
        padding:0.5rem 1rem;
        font-size: 18pt;
        background-color: rgba(var(--bs-light-rgb));
        width: 100%;
        position: inherit;
        border-bottom: 1px #d7d7d7 solid;
}

