#div_title{
    text-align: center;
}

#main_title{
    margin: 2%;
    color: var(--color-primary)
}

.language{
    margin: 0% 2% 1%;
    font-size: 1.3em;
}

.line_language{
    margin: 0% 0% 5px;
    width: 7%;
}

.line_all_width{
    margin: 2% 0 1%;
}

.filtelters_all{
    margin: 0% 2% 0%
}

.filter_title{
    font-size: 1.3em
}

.filter_group_with_title{
    margin: 0 1% 1% 1%;
    float: left;
}

.filter_group{
    margin: 1% 2% 0;
    font-size: 1.1em;
    color: dimgrey;
    cursor: pointer;
    width: max-content;
}

.filters_for_student{
    margin: 0 3% 1%;
    display: none;
}

.filter{
    margin: 0.5%;
    width: max-content;
}

.filters_choices{
    visibility: hidden;
}

.filter_date{
    margin: 1% 0 0 3.5%;
    display: none;
    width: max-content;
}

.message{
    color: red;
    margin: 1% 1% 0;
    display: none;
    width: max-content;
}

.filter_students{
    margin: 0.5% 1% 0;
    display: none;
    width: max-content;
}

.filters_for_texts{
    margin: 0 3% 1%;
    display: none;
}

.certain_filter{
    font-size: 1.2em;
}

.bar{
    max-width:100%;
    max-height:800px;
}
.pie{
    max-width:100%;
    max-height:800px;
}

.helf_width_char{
    float: left;
    max-width:50%;
    max-height:500px;
}

.statistic_name{
    list-style-type: none;
}

.legend_checked_filters{
    margin: 0% 2% 0%;
    font-size: 1.1em;
    display: none;
}

.update-button {
    background-color: white;
    color: #235ad1;
    border: 1px #235ad1 solid;
    border-radius: 0px;
}

.update-button:hover {
    background-color: #235ad1;
    color: white;
    transition: 0.8s;
}
