.main .search-bar > input {
	border-top-left-radius: 32px;
	border-bottom-left-radius: 32px;
	padding: 0 24px;
}

.main .search-bar .search-btn {
	border-top-right-radius: 32px;
	border-bottom-right-radius: 32px;
	display: flex;
	width: auto;
	align-items: center;
	justify-content: center;
	padding-right: 24px;
}

.main .btn {
	font-family: 'Rubik', sans-serif;
}

.main .btn:hover {
	background-color: var(--bs-primary);
}

.main .btn:focus {
	box-shadow: none;
}

.bi {
	font-size: 1.5em !important;
}

@media screen and (max-width: 576px) {
	.main .btn {
		width: max-content;
	}
}

/* Home page styles */
.card-rounded {
	border-radius: 12px;
	overflow: hidden;
}

.card-rounded .card-header {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

/* Info page styles */

.table td {
	padding: 6px 16px;
}

.table th {
	padding: 8px 16px;
}

/* Search result styles */
.search-result-card {
	border-left: 6px solid var(--bs-primary);
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	transition: 0.15s ease-in-out;
}

.search-result-card:hover {
	border-left: 10px solid var(--bs-primary);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.details-btn:hover {
	color: var(--bs-primary);
}
