.asd {
    /* background-color: grey; */
    /* border: 1px solid black; */
    padding: 40px;
    word-wrap: break-word;
}

.login-info {
    margin-top: 100px;
    margin-left: 10px;
    font-size: 13px;
}

.invalid-feedback {
    position: absolute;
    top: 15%;
    left: 102%;
}

.main-invalid-feedback {
    color: #dc3545;
}

.auth-page {
    margin-top: 150px;
    max-width: 500px;
    padding: 0px 40px;
}

.signup-page {
    margin-top: 100px;
    max-width: 500px;
    padding: 0px 40px;
}