.search_result {
    border-left: 3px var(--color-primary) solid;
    padding-left: 10px;
}

.search_result:hover {
    border-left: 3px red solid;
}

.search_header {
    font-size: 12px;
    background-color: #c9c9c9;
}