:root {
	--soft-select-color: #4477e4a5;
	--color-primary: #235ad1;
}

#tag-type-create-form-area-name {
	margin-bottom: 5px;
}
#annotation-create-form-content {
	border-radius: 10pt;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	overflow-y: auto;
}
#annotation-create-form-content::-webkit-scrollbar {
	width: 10px;
	background-color: #f1f1f1;
}
#annotation-create-form-content::-webkit-scrollbar-thumb {
	width: 10px;
	background-color: #9b9b9b;
}
textarea::-webkit-scrollbar {
	width: 8px;
	background-color: #f1f1f1;
}
textarea::-webkit-scrollbar-thumb {
	width: 8px;
	background-color: #9b9b9b;
}
#tag-type-create-form-area {
	font-family: 'Montserrat', sans-serif;
	font-size: medium;
	font-weight: 600;
	user-select: none;
	left: 10px;
	right: 10px;
	top: 8px;
	bottom: 4px;
}
#tag-type-create-form-classification {
	height: 200px;
	overflow-y: scroll;
	border: 1pt #cfcfcf solid;
	border-bottom-left-radius: 2pt;
	border-top-left-radius: 2pt;
}
#tag-type-create-form-classification::-webkit-scrollbar {
	width: 10px;
	background-color: #f1f1f1;
}
#tag-type-create-form-classification::-webkit-scrollbar-thumb {
	background-color: var(--color-primary);
}
#tag-type-create-form-content::-webkit-scrollbar {
	width: 10px;
	background-color: #f1f1f1;
}
#tag-type-create-form-content::-webkit-scrollbar-thumb {
	background-color: var(--color-primary);
}
.classification-tag-name {
	margin-left: 5pt;
	border-radius: 4pt;
	border: 2pt solid white;
	padding: 4pt;
}
.classification-tag-spoiler {
	width: 1em;
	height: 1em;
	text-align: center;
}
.classifiation-tag-info > div {
	display: inline-block;
}
.classifiation-tag-info {
	margin-bottom: 5px;
}
.classification-tag-content {
	display: none;
	padding-left: 20px;
}
#tag-type-selected-tag-area {
	margin-top: 5pt;
}
#tag-type-selected-tag {
	max-width: max-content;
	margin-left: 5pt;
	border-radius: 4pt;
	border: 2pt solid white;
	padding: 4pt;
	display: none;
}
#annotation-create-form-data {
	height: 40vh;
	/* width: 100%; */
	padding-bottom: 5px;
	display: none;
}
#annotation-create-submit {
	bottom: 10px;
	right: 0px;
	background-color: #0dcaf0;
	color: white;
	outline: none;
	border: none;
	font-weight: 600;
	border-radius: 10pt;
	padding: 4pt;
}
#fields-list {
	padding: 0px;
}
#fields-list > li {
	list-style-type: none;
	display: block;
	margin-bottom: 5px;
	width: 80%;
}
#fields-list > li > label {
	display: block;
}
#fields-list > li > textarea {
	width: 80%;
	height: 30px;
	border-radius: 1pt;
	font-size: large;
	border: 1px solid #cecece;
}
#fields-list > li > select {
	border-radius: 1pt;
	font-size: medium;
	border: 1px solid #cecece;
}
.form-button {
	padding: 4pt;
	font-weight: 600;
	color: white;
	border: none;
	border-radius: 4pt;
	cursor: pointer;
	outline: none;
	margin-bottom: 8pt;
	margin-right: -80%;
}

#tag-name-value {
	border-radius: 4pt;
	border: 2pt solid white;
	padding: 4pt;
}
#creator-field {
	display: none;
	margin-bottom: 5px;
}
#creator-name {
	margin-left: 8px;
	display: inline-block;
}

#tag-info-table {
	margin-left: auto;
	margin-right: auto;
	/* height: 30vh;
    width: 30vw; */
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	border-collapse: collapse;
}
#annotation-watch-content {
	border-radius: 10pt;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	overflow-y: auto;
}
#annotation-watch-content::-webkit-scrollbar {
	width: 10px;
	background-color: #f1f1f1;
}
#annotation-watch-content::-webkit-scrollbar-thumb {
	background-color: #0dcaf0;
}
.form-li-label {
	text-align: left;
}

.only-errors {
	display: none;
}
.info-value {
	border-radius: 4pt;
	border: 2pt solid white;
}
#tag-reason-value {
	width: fit-content;
	background-color: #f2fa8a;
}
#tag-grade-value {
	width: fit-content;
	background-color: #fad38a;
}

#annotation-create-form {
	border-radius: 2pt;
	width: 40%;
	margin: auto;
	margin-top: 64px;
	padding-bottom: 20px;
	background-color: white;
}
#annotation-create-from-header {
	background-color: var(--color-primary);
	padding-bottom: 5px;
	border-top-left-radius: 2pt;
	border-top-right-radius: 2pt;
}
#annotation-create-form-close {
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	font-size: 20pt;
	color: white;
	float: right;
	width: 40px;
	display: inline-block;
}
#annotation-create-form-close > svg {
	fill: white;
	transition: 0.5s;
}
#annotation-create-form-close:hover > svg {
	fill: var(--color-warning);
}
#annotation-create-form-name {
	user-select: none;
	font-family: 'Montserrat', sans-serif;
	font-size: larger;
	font-weight: 600;
	color: white;
	display: inline-block;
	padding-left: 10px;
	padding-top: 10px;
}

*::selection {
	background-color: #235ad1;
	color: white;
}
