{% extends "base.html" %}

<!-- Content -->
{% block content %}
<main class="container d-flex flex-column gap-1 align-items-center my-5">
	<div class="alert alert-danger fs-6" role="alert" id="warning-message">
		<svg
			class="bi me-2"
			xmlns="http://www.w3.org/2000/svg"
			stroke="currentColor"
			height="1.6em"
			fill="none"
			viewBox="0 0 24 24"
		>
			<path stroke-linecap="round" stroke-width="1" d="M12 7v6" />
			<circle cx="12" cy="16" r="0.5" fill="currentColor" />
			<path
				stroke-linecap="round"
				stroke-width="1"
				d="M9.22 3c1.18-.67 1.95-1 2.78-1 1.11 0 2.13.6 4.16 1.8l.68.4c2.03 1.21 3.05 1.81 3.6 2.8.56.99.56 2.2.56 4.6v.8c0 2.4 0 3.61-.56 4.6-.55.99-1.57 1.59-3.6 2.8l-.68.4C14.13 21.4 13.1 22 12 22c-1.11 0-2.13-.6-4.16-1.8l-.68-.4c-2.03-1.21-3.05-1.81-3.6-2.8C3 16.01 3 14.8 3 12.4v-.8c0-2.4 0-3.61.56-4.6C4 6.22 4.72 5.68 6 4.9"
			/>
		</svg>
		Недостаточно прав для доступа к сервису
	</div>
	<button type="button" class="btn btn-secondary mx-auto" onclick="history.back()">Назад</button>
</main>

{% endblock content %}
