{% extends "base.html" %}{%load static%}{% block link %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"
/>
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.css' %}" />
{% endblock link %} {% block content %}
<main class="container my-4">
	<h3 class="text-primary text-center my-3">{% if is_teacher %}Выберите студента{%else%}Выберите группу{%endif%}</h3>
	{% if author_is_student %}

	<form method="POST" novalidate class="col-12 col-lg-6 mx-auto d-flex flex-column gap-3 text-secondary">
		{% comment %} {% csrf_token %} {% endcomment %} {{form.user}}

		<button type="submit" class="btn btn-primary shadow-none col-6 align-self-center">Сохранить</button>
	</form>
	{%else%}
	<p>Ошибка формы</p>
	{%endif%}
	<div class="col-12 d-flex justify-content-center my-3">
		<button class="btn shadow-none btn-secondary col-6 col-lg-3" onclick="history.back()">Назад</button>
	</div>
</main>

{%endblock%} {% block plugins %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock plugins %} {% block script %}
<script type="text/javascript" src="{% static 'js/apply_select2.js' %}" defer></script>
{% endblock %}
