<!DOCTYPE html>
<html>
	<head>
		<title>PACT</title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->

		{% load static %}
		<link href="{% static 'css/external/bootstrap.min.css' %}" rel="stylesheet" />
		<link rel="icon" href="{% static '/favicon.svg' %}" type="image/svg+xml" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
		{% block link %} {% endblock %}
	</head>
	<body class="bg-light">
		<!-- Styles -->
		<style>
			{% block styles %}
			{% endblock styles %}
		</style>

		<!-- Navbar -->
		{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}
		<!-- Content -->
		{% block content %} {% endblock content %}

		<!-- Scripts -->
		<script src="{% static 'js/external/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/external/jquery.min.js' %}"></script>

		{% block plugins %} {% endblock plugins %} {% block script %} {% endblock script %}
	</body>
</html>
