{% extends "base.html" %}
{% block link %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <main class="justify-content-center form-signup d-flex">
        
        <div class="asd auth-page col-4">
            <h1 class="mt-2 mb-5 text-center">Смена пароля студента</h1>
            {% load filters %}
            <div class="form-group mt-4">
                <form method="post" novalidate>
                    
                    {% comment %} {% csrf_token %} {% endcomment %}
                    <div class="main-invalid-feedback text-center">
                        {% for error in form_login.non_field_errors %}
                            {{ error | striptags }}
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        <div class="mb-4 custom-input">
                            <label for="student" class="form-label">Студент</label>
                            <select class="form-control" id="student" name='student'>
                                {% for student in all_students %}
                                <option value="{{student.0}}">{{ student.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mt-4 custom-input">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                    </div>

                    <button type="submit" class="mt-2 btn pakt-btn">Смена пароля</button>
                </form>


            </div>

        </div>
    </main>
</div>

{%endblock%}

{% block script %}

<script>
    
    $(document).ready(function() {
        $('#student').selectize({
            sortField: 'text',
        });
    });
</script>


{% endblock %}