{% extends "base.html" %}
{% block content %}

<div class="container-sm">
    <main>
        <h1 class="head-text text-center mt-5 mb-5"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">- ПАКТ -</a></h1>

        <div><a href="{% url 'cql_faq' %}">FAQ по CQL</a></div>
        <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="corpus_search" class="form-control non-round" placeholder="Поиск по корпусу" aria-label="Поиск по корпусу" aria-describedby="button-addon2">

                <button type="submit" class="btn btn-outline-secondary non-round" id="button-addon2">Поиск</button>
            </div>
        </form>
        
        <br><br>

        <div class="main-text mt-5">
            <h1>Простые запросы</h1>
            [word = ”man”] - точная словоформа<br>
            [pos = ”NOUN”] - часть речи<br>
            [error = ”Error”] - тип ошибки<br>
            [] - любое слово?<br>
            <br><br>

            <h1>REGEX</h1>
            <span style='color:gray'>.* (точка и звездочка) означает, что на этом месте может быть любой набор символов(включая ноль символов)</span><br>
            [word = ”man.*”]<br>
            [word = ”.*man”]<br>
            [word = ”.*man.*”]<br>
            <br><br>

            <h1>Совокупность запросов</h1>
            [word = ”man” & error = ”Error”] - и<br>
            [word = ”man” | error = ”Error”] - или<br>
            <br><br>

            <h1>Условные операторы</h1>
            [word = ”man”] - равно<br>
            [word != ”man”] - не равно<br>
            <br><br>

        </div>

    </main>
</div>

{%endblock%}