{%extends "index.html" %}

<!-- TODO rename page, "CQL FAQ" makes no sense for ones who wants to write a query -->

<!-- Main page content -->
{% block indexContent %}
<div class="container">
	<h1 class="text-center text-primary my-5">Язык запросов (Corpus Query Language)</h1>

	<div class="card card-rounded shadow my-4 col-md-8 col-11 mx-auto">
		<h4 class="card-header text-secondary">Простые запросы</h4>
		<div class="card-body fs-5">
			<p><b>[ word = ”man” ]</b> - точная словоформа</p>
			<p><b>[ pos = ”NOUN” ]</b> - часть речи</p>
			<p><b>[ error = ”Grammatik” ]</b> - тип ошибки</p>
		</div>
	</div>

	<div class="card card-rounded shadow my-4 col-md-8 col-11 mx-auto">
		<h4 class="card-header text-secondary">Регулярные выражения</h4>
		<div class="card-body fs-5">
			<p><b>[ word = ”man.*” ]</b></p>
			<p><b>[ word = ”.*man” ]</b></p>
			<p><b>[ word = ”.*man.*” ]</b></p>
			<p>
				.* (точка и звездочка) означает, что на этом месте может быть любой набор символов (включая ноль
				символов)
			</p>
		</div>
	</div>

	<div class="card card-rounded shadow my-4 col-md-8 col-11 mx-auto">
		<h4 class="card-header text-secondary">Совокупность запросов</h4>
		<div class="card-body fs-5">
			<p><b>[ word = ”man” & error = ”Grammatik” ]</b> - и</p>
			<p><b>[ word = ”man” | error = ”Grammatik” ]</b> - или</p>
		</div>
	</div>

	<div class="card card-rounded shadow my-4 col-md-8 col-11 mx-auto">
		<h4 class="card-header text-secondary">Условные операторы</h4>
		<div class="card-body fs-5">
			<p><b>[ word = ”man” ]</b> - равно</p>
			<p><b>[ word != ”man” ]</b> - не равно</p>
		</div>
	</div>
</div>
{% endblock indexContent %}
