{%extends "base.html" %}

<!-- Content -->
{% block content %}
<main class="container my-4">
	<h1 class="text-center text-primary my-4">Участники проекта</h1>
	<h3 class="my-3">Разработка программного обеспечения</h3>
	<p>
		Щеголева Людмила Владимировна
		<span class="text-secondary"
			>(доктор технических наук, профессор ФГБОУ ВО «Петрозаводский государственный университет»)</span
		>
	</p>
	<p>
		Кулаков Кирилл Александрович
		<span class="text-secondary"
			>(кандидат физико-математических наук, доцент ФГБОУ ВО «Петрозаводский государственный университет»)</span
		>
	</p>
	<p>
		Ремшу Никита Леонидович
		<span class="text-secondary">(программист ЛИАД ФГБОУ ВО «Петрозаводский государственный университет»)</span>
	</p>
	<p>
		Сафонов Георгий Романович
		<span class="text-secondary">(программист ЛИАД ФГБОУ ВО «Петрозаводский государственный университет»)</span>
	</p>
	<p>Котюров Илья Романович <span class="text-secondary">(программист)</span></p>

	<br />
	<h3 class="my-3">Сбор и разметка текстов</h3>
	<p>
		Котюрова Ирина Аврамовна
		<span class="text-secondary"
			>(кандидат филологический наук, зав.кафедрой немецкого и французского языков ФГБОУ ВО «Петрозаводский
			государственный университет»)</span
		>
	</p>
	<p>
		Барымова Надежда Сергеевна
		<span class="text-secondary">(ст.преподаватель ФГБОУ ВО «Петрозаводский государственный университет»)</span>
	</p>
	<p>
		Ерофеева Анастасия Андреевна
		<span class="text-secondary">(студентка ФГБОУ ВО «Петрозаводский государственный университет»)</span>
	</p>
	<p>
		Жесткова Анна Сергеевна
		<span class="text-secondary">(студентка ФГБОУ ВО «Петрозаводский государственный университет»)</span>
	</p>
	<p>
		Кисточкина Злата Алексеевна
		<span class="text-secondary">(студентка ФГБОУ ВО «Петрозаводский государственный университет»)</span>
	</p>
	<p>
		Максимов Евгений Александрович
		<span class="text-secondary">(студент ФГБОУ ВО «Петрозаводский государственный университет»)</span>
	</p>
	<p>
		Некрасов Кирилл Сергеевич
		<span class="text-secondary">(студент ФГБОУ ВО «Петрозаводский государственный университет»)</span>
	</p>
	<p>
		Сибирякова Наталья Борисовна
		<span class="text-secondary">(студентка ФГБОУ ВО «Петрозаводский государственный университет»)</span>
	</p>
	<p>
		Солнышков Андрей Алексеевич
		<span class="text-secondary">(студент ФГБОУ ВО «Петрозаводский государственный университет»)</span>
	</p>
	<p>
		Тренина Полина Владимировна
		<span class="text-secondary">(студентка ФГБОУ ВО «Петрозаводский государственный университет»)</span>
	</p>
	<p>
		Ульянова Надежда Олеговна
		<span class="text-secondary">(студентка ФГБОУ ВО «Петрозаводский государственный университет»)</span>
	</p>
	<br />
	<span class="text-secondary small my-5">У всех участников статус указан на момент работы над корпусом</span>
</main>
{% endblock content %}
