{% extends 'base.html' %} {% load static %} {%block plugins%}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="{% static 'js/external/axios.min.js' %}"></script>
<script src="{% static 'js/external/chart.umd.min.js' %}"></script>
<script src="{% static 'js/external/xlsx.full.min.js' %}"></script>
{%endblock plugins%} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboards.css' %}" />
{% endblock link %}

{% block content %}
<main class="container-fluid mt-5 fs-5">
	<h2 class="text-primary text-center my-5">
		Количество ошибок в разрезе типов ошибок с распределением по степеням грубости ошибок
	</h2>

	<div class="d-flex flex-column flex-md-row my-4 gap-4 justify-content-evenly">
		<div class="col">
			<label class="text-center text-primary"> Язык </label>
			<hr class="mt-1" />
			<select id="selected_language" class="form-select" onchange="on_change_language()">
				{% for language in languages %}
				<option value="{{language.id_language}}">{{ language.language_name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col">
			<label class="text-center text-primary"> Статистика </label>
			<hr class="mt-1"/>
			<select id="selected_stat" class="form-select" onchange="update_data()">
				<option>абсолютная</option>
				<option>на 100 токенов</option>
            </select>
		</div>

		<div id="signature" class="col">
			<label class="text-center text-primary"> Подписи на </label>
			<hr class="mt-1"/>
			{% verbatim %}
			<select class="form-select" v-model="selected_language_labels" @change="on_change_language_labels">
				<option v-for="language_label in language_labels">{{ language_label }}</option>
			</select>
			{% endverbatim %}
		</div>

		<div id="level_detail" class="col">
			<label class="text-center text-primary"> Уровень детализации </label>
			<hr class="mt-1"/>
			{% verbatim %}
			<select class="form-select" v-model="selected_level_detail" @change="on_change_level_detail">
				<option v-for="level in levels":value="level.id_level">{{ level.level_text }}</option>
			</select>
			{% endverbatim %}
		</div>
	</div>

	<hr class="mt-5" />
	<div class="d-flex flex-column flex-md-row my-4 gap-4 justify-content-between">
		<div class="d-flex flex-column flex-md-row gap-4">
			<div class="col-0">
				<div class="d-flex flex-column flex-md-row gap-2">
					<div class="col-0">
						<label class="text-center text-primary"> Размер шрифта </label>
					</div>
					<div class="col">
						<select id="font_size" class="form-select" onchange="on_change_font_size()">
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
							<option selected>16</option>
							<option>17</option>
							<option>18</option>
							<option>19</option>
							<option>20</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="d-flex flex-column flex-md-row gap-2">
					<div class="col-0">
						<label class="text-center text-primary"> Класс ошибок </label>
					</div>
					<div id="tag_parents" class="col">
						{% verbatim %}
						<select class="form-select" v-model="selected_tag_parent" @change="on_change_tag_parent">
							<option selected> -- </option>
							<option v-for="tag_parent in tag_parents":value="tag_parent.id_tag">
								{{ tag_parent.tag_text_russian }}
							</option>
						</select>
						{% endverbatim %}
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex flex-column flex-md-row gap-2">
			<div class="col">
				<button
					id="btn-filters"
					type="button"
					class="btn btn-outline-secondary shadow-none"
					title="Фильтры"
					data-bs-toggle="collapse"
					data-bs-target="#filters"
					aria-expanded="false"
					aria-controls="filters"
				>
					<svg
						class="bi"
						xmlns="http://www.w3.org/2000/svg"
						height="1.6em"
						stroke="currentColor"
						fill="none"
						viewBox="0 0 24 24"
					>
						<path
							stroke-linecap="round"
							stroke-width="1.5"
							d="M20.058 9.723c.948-.534 1.423-.801 1.682-1.232.26-.43.26-.949.26-1.987v-.69c0-1.326 0-1.99-.44-2.402C21.122 3 20.415 3 19 3H5c-1.414 0-2.121 0-2.56.412C2 3.824 2 4.488 2 5.815v.69c0 1.037 0 1.556.26 1.986.26.43.733.698 1.682 1.232l2.913 1.64c.636.358.955.537 1.183.735.474.411.766.895.898 1.49.064.284.064.618.064 1.285v2.67c0 .909 0 1.364.252 1.718.252.355.7.53 1.594.88 1.879.734 2.818 1.101 3.486.683.668-.417.668-1.372.668-3.282v-2.67c0-.666 0-1 .064-1.285a2.68 2.68 0 0 1 .899-1.49"
						/>
					</svg>
				</button>
			</div>
			<div class="col-0">
			 	<button id="btn-download" type="button" class="btn btn-primary" onclick="on_download()">Скачать</button>
			</div>
		</div>
	</div>

	<div class="d-flex flex-column flex-md-row my-4 gap-4 justify-content-end">
		<div id="filters" class="collapse card card-rounded shadow-sm col-12">
			<div class="card-body">
				<form id="form_filters" name="filters">
					<div class="d-flex flex-column flex-md-row my-4 gap-4 justify-content-evenly">
						<div class="card col-5">
							<div class="card-header text-secondary" > Фильтры по студентам </div>
							<div id="filters_for_student" class="card-body">
								<div class="form-check">
									<input
										id="all"
										type="radio"
										name="student_filters"
										class="form-check-input"
										data-bs-toggle="collapse"
										data-bs-target="#none"
										aria-expanded="false"
										aria-controls="none"
										@change="on_change_choice_student_filters(); on_change_choice_all();"
										checked
									/>
									<label class="form-check-label text-filter" for="all"> Все </label>
									<span
										id="none"
										class="accordion-collapse collapse"
										data-bs-parent="#filters_for_student"
									>
									</span>
								</div>

								<div class="form-check">
									<input
										id="groups"
										type="radio"
										name="student_filters"
										class="form-check-input"
										data-bs-toggle="collapse"
										data-bs-target="#group"
										aria-expanded="false"
										aria-controls="group"
										@change="on_change_choice_student_filters"
									/>
									<div class="row row-cols-3">
										<div class="col">
											<label class="form-check-label text-filter" for="groups"> Группа </label>
										</div>
										<div class="col">
											<span id="enrollment_date" class="text-filter element-visibility">
												Учебный год
											</span>
										</div>
									</div>
									<div
										id="group"
										class="accordion-collapse collapse"
										data-bs-parent="#filters_for_student"
									>
										<div class="row">
											<div class="col">
												{% verbatim %}
												<select
													id="filter_group"
													class="form-select"
													v-model="selected_group"
													@change="on_change_group_number"
												>
													<option v-for="group in groups">{{ group.group_name }}</option>
												</select>
												{% endverbatim %}
											</div>
											<div class="col">
												{% verbatim %}
												<select
													id="filter_group_date"
													class="form-select"
													v-model="selected_date"
												>
													<option v-for="date in group_dates">
														{{ date.enrollment_date }}
													</option>
												</select>
												{% endverbatim %}
											</div>
											<div class="col">
												<button type="button" class="btn btn-primary" @click="on_change_group">
													Применить
												</button>
											</div>
										</div>
										<div class="row">
											<div class="col-4">
												<div id="error_group" class="form-text error-message">
													выберите группу
												</div>
											</div>
											<div class="col">
												<div id="error_group_date" class="form-text error-message">
													выберите учебный год
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-check">
									<input
										id="students"
										type="radio"
										name="student_filters"
										class="form-check-input"
										data-bs-toggle="collapse"
										data-bs-target="#student"
										aria-expanded="false"
										aria-controls="student"
										@change="on_change_choice_student_filters"
									/>
									<label class="form-check-label text-filter" for="students"> Студент </label>
									<div
										id="student"
										class="accordion-collapse collapse"
										data-bs-parent="#filters_for_student"
									>
										<div class="row">
											<div class="col">
												<input
													id="surname"
													type="text"
													class="form-control"
													v-model="surname"
													placeholder="Фамилия"
												>
											</div>
											<div class="col">
												<input
													id="name"
													type="text"
													class="form-control"
													v-model="name"
													placeholder="Имя"
												>
											</div>
											<div class="col">
												<input
													type="text"
													class="form-control"
													v-model="patronymic"
													placeholder="Отчество"
												>
											</div>
											<div class="col">
												<button
													type="button"
													class="btn btn-primary"
													@click="on_change_student"
												>
													Применить
												</button>
											</div>
										</div>
										<div class="row">
											 <div class="col-3">
												 <div id="error_student_surname" class="form-text error-message">
													 введите фамилию
												 </div>
											 </div>
											<div class="col">
												<div id="error_student_name" class="form-text error-message">
													введите имя
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-check">
									<div class="row">
										<div class="col-1">
											<input
												id="courses"
												type="radio"
												name="student_filters"
												class="form-check-input"
												data-bs-toggle="collapse"
												data-bs-target="#course"
												aria-expanded="false"
												aria-controls="course"
												@change="on_change_choice_student_filters"
											/>
											<label class="form-check-label text-filter" for="courses"> Курс </label>
										</div>
										<div class="col-2">
											<div
												id="course"
												class="accordion-collapse collapse"
												data-bs-parent="#filters_for_student"
											>
												{% verbatim %}
												<select
													id="filter_course"
													class="form-select"
													v-model="selected_course"
													@change="on_change_course"
												>
													<option v-for="course in courses">
														{{ course.course_number }}
													</option>
												</select>
												{% endverbatim %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="card col-6">
							<div class="card-header text-secondary" > Фильтры по текстам </div>
							<div id="filters_for_texts" class="card-body">
								<div class="form-check">
									<div class="row">
										<div class="col-3">
											<input
												id="filter_all_texts"
												type="checkbox"
												value=""
												class="form-check-input"
												data-bs-toggle="collapse"
												data-bs-target="#header"
												aria-expanded="false"
												aria-controls="header"
												@change="on_change_choice_text"
											/>
											<label class="form-check-label text-filter" for="filter_all_texts">
												Название текста
											</label>
										</div>
										<div class="col-9">
											<div id="header" class="collapse">
												{% verbatim %}
												<select
													id="filter_text"
													class="form-select"
													v-model="selected_text"
													@change="on_change_text"
												>
													<option v-for="text in texts":value="text.header">
														{{ text.header }}
													</option>
												</select>
												{% endverbatim %}
											</div>
										</div>
									</div>
								</div>
								<div class="form-check">
									<div class="row">
										<div class="col-3">
											<input
												id="filter_text_types"
												type="checkbox"
												value=""
												class="form-check-input"
												data-bs-toggle="collapse"
												data-bs-target="#text_type"
												aria-expanded="false"
												aria-controls="text_type"
												@change="on_change_choice_text_types"
											/>
											<label class="form-check-label text-filter" for="filter_text_types">
												Тип текста
											</label>
										</div>
										<div class="col-9">
											<div id="text_type" class="collapse">
												{% verbatim %}
												<select
													id="filter_text_type"
													class="form-select"
													v-model="selected_text_type"
													@change="on_change_text_type"
												>
													<option
														v-for="text_type in text_types":value="text_type.id_text_type"
													>
														{{ text_type.text_type_name }}
													</option>
												</select>
												{% endverbatim %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<hr class="mt-2" />
	<div id="legend_checked_filters" class="d-flex flex-column flex-md-row gap-3 mt-4 justify-content-start">
		<div id="card_group" class="card card-rounded shadow-sm card-display border border-primary">
			<div class="card-body">
				<p class="card-text text-primary">
					<span v-html="group">{{group}}</span> (<span v-html="enrollment_date">{{enrollment_date}}</span>)
				</p>
			</div>
		</div>
		<div id="card_student" class="card card-rounded shadow-sm card-display border border-primary">
			<div class="card-body">
				<p class="card-text text-primary">
					<span v-html="surname">{{surname}}</span>
					<span v-html="name">{{name}}</span>
					<span v-html="patronymic">{{patronymic}}</span>
				</p>
			</div>
		</div>
		<div id="card_course" class="card card-rounded shadow-sm card-display border border-primary">
			<div class="card-body">
				<p class="card-text text-primary"> <span v-html="course">{{course}}</span> курс</p>
			</div>
		</div>
		<div id="card_text" class="card card-rounded shadow-sm card-display border border-primary">
			<div class="card-body">
				<p class="card-text text-primary" v-html="text">{{text}}</p>
			</div>
		</div>
		<div id="card_text_type" class="card card-rounded shadow-sm card-display border border-primary">
			<div class="card-body">
				<p class="card-text text-primary" v-html="text_type">{{text_type}}</p>
			</div>
		</div>
	</div>

	<div id="diagram" class="d-flex flex-column  my-2">
		<div id="diagram_type_errors">
			<div id="type_errors_bar" class="card my-3">
				<canvas id="bar_type_grade_errors" ref="chart" class="chart bar m-4"></canvas>
			</div>
		</div>
	</div>

</main>
{% endblock content%} {%block script%}
<script type="text/javascript">
	var list_languages = {{languages | safe}}
	var list_levels = {{levels | safe}}
	var list_groups = {{groups | safe}}
	var list_enrollment_date = []
	var list_courses = {{courses | safe}}
	var list_texts = {{texts | safe}}
	var list_text_types = {{ text_types | safe}}
	var list_grades = {{grades | safe}}
	var list_data = {{data | safe}}
	var list_tag_parents = {{tag_parents | safe}}
	let dict_children = {{dict_children | safe}}
	let count_grades_for_language = {{count_grades_for_language | safe}}

	var change_level_text = false
	var data_for_language = []
	var grades_for_language = list_grades.filter(grade => grade.grade_language == list_languages[0].id_language)

	selected_language = document.getElementById("selected_language").value
	for (let i=0; i<count_grades_for_language[selected_language]; i++){
		var data_filtered = list_data[i].filter(data => data.tag__tag_language == selected_language)
		data_for_language.push(data_filtered)
	}


	async function post_request_data_errors(group, enrollment_date, surname, name, patronymic, course, text, text_type,
											level) {
	    var data = []

	    await axios({
	        method: 'post',
	        url: '',
	        data: {
	        	'group': group,
	            'enrollment_date': enrollment_date,
	            'surname': surname,
	            'name': name,
	            'patronymic': patronymic,
	            'course': course,
	            'text': text,
	            'text_type': text_type,
	            'level': level,
	            'flag_post': 'update_diagrams'
	        },
	        headers: {
	            'X-Requested-With': 'XMLHttpRequest',
	        }
	    })
	        .then(function (response) {
	            data = response.data.data
	        })

	    list_data = data
	}


	function on_download() {
		var data = []

		for (let i=0; i<grades_for_language.length; i++) {
			data.push([grades_for_language[i].grade_name])
			data.push(["id_tag", "tag_parent", "tag_language", "tag_text", "tag_text_russian", "count_data",
			"count_data_on_100_tokens"])

			for (let j=0; j<data_for_language[i].length; j++) {
				data.push([data_for_language[i][j].tag__id_tag, data_for_language[i][j].tag__tag_parent,
					data_for_language[i][j].tag__tag_language, data_for_language[i][j].tag__tag_text,
					data_for_language[i][j].tag__tag_text_russian, data_for_language[i][j].count_data,
					data_for_language[i][j].count_data_on_tokens])
			}
		}

		var workbook = XLSX.utils.book_new(),
				worksheet = XLSX.utils.aoa_to_sheet(data)
		workbook.SheetNames.push("Errors")
		workbook.Sheets["Errors"] = worksheet

		selected_language_id = document.getElementById("selected_language").value
		selected_language = list_languages.filter(language => language.id_language == selected_language_id)

		XLSX.writeFile(workbook,
			`Errors_types_grade_${level_detail.selected_level_detail}_level_${selected_language[0].language_name}.xlsx`)
	}

	function update_data() {
		type_errors_bar.get_data()
		type_errors_bar.update_chart()
	}

	function update_data_for_language() {
		selected_language = document.getElementById("selected_language").value

		var offset = 0
		var flag_selected_language = false
		for (const [key, value] of Object.entries(count_grades_for_language)) {
			if (!flag_selected_language) {
				if (key == selected_language) {
					flag_selected_language = true
				}
				else {
					offset = offset + count_grades_for_language[key]
				}
			}
		}

		data_for_language = []
		for (let i=offset; i<offset+count_grades_for_language[selected_language]; i++) {
			var data_filtered = list_data[i].filter(data => data.tag__tag_language == selected_language)
			data_for_language.push(data_filtered)
		}

		tag_parents.selected_tag_parent = '--'
		tag_parents.tag_parents = list_tag_parents.filter(tag_parent => tag_parent.tag_language == selected_language)

		update_data()
	}

	function on_change_language() {
		 selected_language = document.getElementById("selected_language").value

		 language_record = list_languages.filter(language => language.id_language == selected_language)
		 signature.language_labels[1] = language_record[0].language_name
		 signature.selected_language_labels =  signature.language_labels[1]

		 level_detail.levels = list_levels.filter(level => level.level_language == selected_language)
		 selected_level = level_detail.levels.filter(level => level.id_level == level_detail.selected_level_detail)
		 if (selected_level.length == 0 || change_level_text) {
			length_list_levels_for_language = level_detail.levels.length
			level_detail.selected_level_detail = level_detail.levels[level_detail.levels.length-1].id_level
			change_level_text = !change_level_text
		 }

		 filters.groups = list_groups.filter(group => group.language == selected_language)
		 filters.courses = list_courses.filter(course => course.language == selected_language)
		 filters.texts = list_texts.filter(text => text.language == selected_language)
		 filters.text_types = list_text_types.filter(text_type => text_type.language_id == selected_language)
		 grades_for_language = list_grades.filter(grade => grade.grade_language == selected_language)

		 update_data_for_language()
	}

	async function post_request_data() {
		await post_request_data_errors(filters.selected_group, filters.selected_date, filters.surname, filters.name,
										filters.patronymic, filters.selected_course, filters.selected_text,
										filters.selected_text_type, level_detail.selected_level_detail)
	}


	var signature = new Vue({
		el: '#signature',
		data: {
			language_labels:  ['Русском', list_languages[0].language_name],
			selected_language_labels: list_languages[0].language_name
		},
		methods:{
			on_change_language_labels() {
				update_data()
			}
		}
	})

	var level_detail = new Vue({
		el: '#level_detail',
		data: {
			levels: list_levels.filter(level => level.level_language == list_languages[0].id_language),
			selected_level_detail: list_levels.filter(level => level.level_language ==
																			list_languages[0].id_language)[0].id_level
		},
		methods:{
			on_change_level_detail() {
				filters.update_diagrams()
			}
		}
	})

	var tag_parents = new Vue({
		el: '#tag_parents',
		data: {
			tag_parents: list_tag_parents.filter(tag_parent => tag_parent.tag_language == list_languages[0].id_language),
			selected_tag_parent: '--'
		},
		methods: {
			on_change_tag_parent() {
				selected_language = document.getElementById("selected_language").value

				var offset = 0
				var flag_selected_language = false
				for (const [key, value] of Object.entries(count_grades_for_language)) {
					if (!flag_selected_language) {
						if (key == selected_language) {
							flag_selected_language = true
						}
						else {
							offset = offset + count_grades_for_language[key]
						}
					}
				}

				data_for_language = []
				for (let i=offset; i<offset+count_grades_for_language[selected_language]; i++) {
					var data_filtered = list_data[i].filter(data => data.tag__tag_language == selected_language)
					data_for_language.push(data_filtered)
				}

				if (this.selected_tag_parent != '--') {
					var grouped_data_for_tag = []

					var tag_children = dict_children[this.selected_tag_parent]
					for (let i=0; i<data_for_language.length; i++) {
						var grouped_data = []

						for (let j=0; j<tag_children.length; j++) {
							data = data_for_language[i].filter(data => data.tag__id_tag == tag_children[j])

							if (data.length != 0) {
								grouped_data.push(data[0])
							}
						}

						grouped_data_for_tag.push(grouped_data)
					}

					data_for_language = grouped_data_for_tag

					for (let i=0; i<data_for_language.length; i++) {
						data_for_language[i].sort((x, y) => y.sum_count - x.sum_count)
					}
				}

				update_data()
			}
		}
	})
</script>
<script src="{% static 'js/dashboards.js' %}" type="text/javascript"></script>
<script type="text/javascript">
	Chart.defaults.font.size = 16
	var type_errors_bar = new Vue({
	    el: '#type_errors_bar',
	    data: {
	        chart: {},
	        labels: [],
	        datasets: [],
	        chart_type: 'bar',
	        chartColor: 'crimson',
	        loading: false
	    },
	    methods: {
	        mounted() {
	            this.init_chart()
	            this.get_data()
	            this.update_chart()
	        },
	        init_chart() {
	            this.chart = Vue.markRaw(new Chart(this.$refs.chart, {
	                type: this.chart_type,
	                data: {
	                    labels: [],
	                    datasets: []
	                },
	                options: {
	                    responsive: true,
	                    tooltips: {
	                        mode: 'index'
	                    },
	                    scales: {
	                        x: {
	                            stacked: true
	                        },
	                        y: {
	                            beginAtZero: true,
	                            stacked: true
	                        }
	                    }
	                }
	            }));
	        },
	        update_chart() {
	            this.chart.data.labels = this.labels
	            this.chart.data.datasets = this.datasets
	            this.chart.update()
	        },
	        get_data() {
	            var datasets = []
	            var colors_for_grades = [
	                'rgba(163,221,203,1)',
	                'rgba(232,233,161,1)',
	                'rgba(230,181,102,1)'
	            ]

	            var labels = []
	            type_stat = document.getElementById("selected_stat").value

	            for (let i=0; i<grades_for_language.length; i++) {
	                labels = []
	                var points = []

	                for (let j=0; j<data_for_language[i].length; j++){
                            if (signature.selected_language_labels == 'Русском') {
                                labels.push(data_for_language[i][j].tag__tag_text_russian)
                            }
                            else {
                                labels.push(data_for_language[i][j].tag__tag_text)
                            }

                            if (type_stat == 'абсолютная') {
                                points.push(data_for_language[i][j].count_data)
                            }
                            else {
                                points.push(data_for_language[i][j].count_data_on_tokens)
                            }
                        }

	                color = colors_for_grades[i]
	                dataset = {
	                    label: grades_for_language[i].grade_name,
	                    backgroundColor: color,
	                    borderColor: color,
	                    data: points
	                }

	                datasets.push(dataset)
	            }

	            this.labels = labels
	            this.datasets = datasets
	        }
	    }
	})

	type_errors_bar.mounted()
</script>
{%endblock script%}
