{% extends 'base.html' %} {% block content %}

<main class="container my-4">
	<h1 class="text-primary text-center my-3">Дэшборды</h1>

	<div>
		<ul class="d-flex flex-column gap-2 list-unstyled">
			<li>
				<a href="{% url 'types_errors' %}" class="btn btn-primary"> Статистика ошибок по типам ошибок </a>
			</li>
			<li>
				<a href="{% url 'grade_errors' %}" class="btn btn-primary"> Статистика ошибок по грубости ошибок </a>
			</li>
			<li>
				<a href="{% url 'types_grade_errors' %}" class="btn btn-primary">
					Статистика ошибок по типам ошибок с распределением по грубости ошибок
				</a>
			</li>
			<li>
				<a href="{% url 'student_dynamics' %}" class="btn btn-primary"> Динамика студента (по текстам) </a>
			</li>
			<li>
				<a href="{% url 'groups_errors' %}" class="btn btn-primary"> Статистика ошибок в группах </a>
			</li>
			<li>
				<a href="{% url 'emotions_errors' %}" class="btn btn-primary"> Статистика ошибок по эмоциям </a>
			</li>
			<li>
				<a href="{% url 'self_assesment_errors' %}" class="btn btn-primary">  Статистика ошибок по самооценке </a>
			</li>
			<li>
				<a href="{% url 'relation_assesment_self_assesment' %}" class="btn btn-primary">  Взаимосвязь оценки и самооценивания </a>
			</li>
		</ul>
	</div>
</main>
{% endblock content%}
