{% extends 'base.html' %} {%block plugins%}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
{%endblock plugins%} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />

<div class="mt-3 text-center">
	<h1>Статистика по типам ошибок</h1>
</div>

<div id="languages" class="language">
	<label>Язык</label><br />
	<hr id="line_language" class="line_language" />
	<select id="selected_language" onchange="on_change_language()">
		{% for language in languages %}
		<option value="{{language.id_language}}">{{ language.language_name }}</option>
		{% endfor %}
	</select>
</div>

<hr class="line_all_width" />
<form id="form_filters" name="filters">
	{% csrf_token %}
	<div id="filters" class="filtelters_all">
		<p class="filter_title">Фильтры</p>
		<div class="filter_group_with_title">
			<p class="filter_group" @click="on_change_filters_for_student">Фильтры по студентам</p>
			<div id="filters_for_student" class="filters_for_student">
				<div id="without_filters" class="filter">
					<input 
						type="radio" 
						id="all" 
						value="all" 
						v-model="checked_student_filter" 
						@click="on_cancel_student_filters">
	                        	<span>Все</span>
	                    	</div>
				
				<div id="groups" class="filter">
					<input
						type="radio"
						id="filter_groups"
						value="groups"
						v-model="checked_student_filter"
						@click="on_change_choice_group"
					/>
					<span>Группа</span>
					{% verbatim %}
					<select v-model="selected_group" id="filter_group" class="filters_choices">
						<option v-for="group in groups">{{ group.group_name }}</option>
					</select>
					{% endverbatim %}
					<div id="filter_date" class="filter_date">
						<span>Учебный год</span>
						{% verbatim %}
						<select v-model="selected_date">
							<option v-for="date in group_dates">{{ date.enrollment_date }}</option>
						</select>
						{% endverbatim %}
						<input
							type="button"
							class="col-12 mt-2 btn shadow-none update-button"
							style="width: 67%"
							@click="on_change_group"
							value="Применить"
						/>
					</div>
					<p id="error_group" class="message">Выберите группу и учебный год.</p>
				</div>

				<div id="student" class="filter">
					<input
						type="radio"
						id="filter_student"
						value="student"
						v-model="checked_student_filter"
						@click="on_change_choice_student"
					/>
					<span>Студент</span>
					<div id="filter_students" class="filter_students">
						<input v-model="surname" placeholder="фамилия" />
						<input v-model="name" placeholder="имя" />
						<input v-model="patronymic" placeholder="отчество" />
						<input
							type="button"
							class="col-12 mt-2 btn shadow-none update-button"
							style="width: 83%"
							@click="on_change_student"
							value="Применить"
						/>
					</div>
					<p id="error_student" class="message">Введите фамилию и имя студента.</p>
				</div>

				<div id="courses" class="filter">
					<input
						type="radio"
						id="filter_courses"
						value="courses"
						v-model="checked_student_filter"
						@click="on_change_choice_course"
					/>
					<span>Курс</span>
					{% verbatim %}
					<select
						v-model="selected_course"
						@change="on_change_course"
						id="filter_course"
						class="filters_choices"
					>
						<option v-for="course in courses">{{ course.course_number }}</option>
					</select>
					{% endverbatim %}
				</div>
			</div>
		</div>

		<div class="filter_group_with_title">
			<p class="filter_group" @click="on_change_filters_for_texts">Фильтры по текстам</p>
			<div id="filters_for_texts" class="filters_for_texts">
				<div id="all_texts" class="filter">
					<input
						type="checkbox"
						id="filter_all_texts"
						value="all_texts"
						v-model="checked_filters"
						@change="on_change_choice_text"
					/>
					<span>Название текста</span>
					{% verbatim %}
					<select v-model="selected_text" @change="on_change_text" id="filter_text" class="filters_choices">
						<option v-for="text in texts" :value="text.header">{{ text.header }}</option>
					</select>
					{% endverbatim %}
				</div>

				<div id="text_types" class="filter">
					<input
						type="checkbox"
						id="filter_text_types"
						value="text_types"
						v-model="checked_filters"
						@change="on_change_choice_text_types"
					/>
					<span>Тип текста</span>
					{% verbatim %}
					<select
						v-model="selected_text_type"
						@change="on_change_text_type"
						id="filter_text_type"
						class="filters_choices"
					>
						<option v-for="text_type in text_types" :value="text_type.id_text_type">
							{{ text_type.text_type_name }}
						</option>
					</select>
					{% endverbatim %}
				</div>
			</div>
		</div>

		<hr style="margin: 2% 0 1%; clear: left" />
		<div id="filter_levels" class="certain_filter">
			<span style="margin: 2%">Уровень детализации</span>
			{% verbatim %}
			<select v-model="selected_level_type" @change="on_change_level_type">
				<option v-for="level in levels">{{ level }}</option>
			</select>
			{% endverbatim %}
		</div>

		<hr style="margin: 2% 0 1%; clear:left">
            	<div id="filter_type_static" class="certain_filter">
                	<span style="margin: 2%">Статистика</span>
                	{% verbatim %}
                    	<select v-model="selected_type_static" @change="on_change_type_static">
                        	<option v-for="type in type_static">{{ type }}</option>
                    	</select>
                	{% endverbatim%}
            	</div>

		<hr style=" margin: 2% 0 1%; clear: left">
            	<div id="filter_language_labels" class="certain_filter">
                	<span style="margin: 2%">Подписи на</span>
                	{% verbatim %}
                    	<select v-model="selected_language_labels" @change="on_change_language_labels">
                        	<option v-for="language_label in language_labels">{{ language_label }}</option>
                    	</select>
                	{% endverbatim %}
            	</div>

		<hr style="margin: 2% 0 1%; clear: left" />
		<input
			type="button"
			class="col-12 mt-2 btn shadow-none update-button"
			style="width: 200px; float: right; margin-bottom: 1%"
			@click="on_download"
			value="Скачать"
		/>
	</div>
</form>

<hr class="line_all_width" style="clear: right" />
<div id="legend_checked_filters" class="legend_checked_filters">
	<dl>
            <dt id="list_checked_filters" style="font-weight:normal;"> Выбранные фильтры:</dt>
        </dl>
</div>

<div id="diagrams">
	<div id="diagrams_type_errors">
		<div id="type_errors_bar">
			<canvas id="errors_bar" ref="chart" class="bar" class="chart"></canvas>
		</div>
		<div id="type_errors_pie">
			<canvas id="errors_pie" ref="chart" class="pie" class="chart"></canvas>
		</div>
	</div>
</div>
{% endblock content%} {%block script%}
<script type="text/javascript" defer>
	var list_languages = {{languages | safe}}
	var list_groups = {{groups | safe}}
	var list_enrollment_date = {{enrollment_date | safe}}
	var list_courses = {{courses | safe}}
	var list_texts = {{texts | safe}}
	var list_text_types = {{ text_types | safe}}
	var list_levels = {{levels | safe}}
	var list_data = {{data | safe}}
	var data_for_language = []
	var legend_checked_filters = []

	function update_data() {
	    type_errors_bar.get_data()
	    type_errors_bar.update_chart()
	    type_errors_pie.get_data()
	    type_errors_pie.update_chart()
    	}

	function update_data_for_language() {
	    selected_language = document.getElementById("selected_language").value
	    data_for_language = list_data.filter(data => data.tag__tag_language == selected_language)
	    update_data()
    	}

	function on_change_language() {
	    selected_language = document.getElementById("selected_language").value

	    filters.texts = list_texts.filter(text => text.language==selected_language)
	    filters.text_types = list_text_types.filter(text_type => text_type.language_id==selected_language)
	    filters.groups = list_groups.filter(group => group.language==selected_language)

	    language_record = list_languages.filter(language => language.id_language==selected_language)
	    filters.language_labels[1] = language_record[0].language_name
	    filters.selected_language_labels = filters.language_labels[1]

	    update_data_for_language()
	}

	var data_for_language = list_data.filter(data => data.tag__tag_language==list_languages[0].id_language)

	async function post_request_data_errors(text_type, text, surname, name, patronymic, course, groups, level, date){
	    var data = []

	    await axios({
	        method: 'post',
	        url:'',
	        data: {
	            'text_type_id': text_type,
	            'text': text,
	            'surname': surname,
	            'name': name,
	            'patronymic': patronymic,
	            'course': course,
	            'groups': groups,
	            'date': date,
	            'level': level
	        },
	        headers:{
	            'X-Requested-With': 'XMLHttpRequest',
	        }
	    })
	        .then(function (response){
	            data = response.data.data_type_errors
	        })

	    list_data = data
	}

	var filters = new Vue({
	    el: '#filters',
	    data: {
	        checked_filters: [],
		checked_student_filter: 'all',
	        groups: list_groups.filter(group => group.language==list_languages[0].id_language),
	        selected_group: '',
	        group_dates: list_enrollment_date,
	        selected_date: '',
	        surname: '',
	        name: '',
	        patronymic: '',
	        courses: list_courses,
	        selected_course: '',
	        texts: list_texts.filter(text => text.language==list_languages[0].id_language),
	        selected_text: '',
	        text_types: list_text_types.filter(text_type => text_type.language_id==list_languages[0].id_language),
	        selected_text_type: '',
	        levels: list_levels,
	        selected_level_type: list_levels[0],
		type_static: ['абсолютная', 'на 100 токенов'],
		selected_type_static: 'абсолютная',
		language_labels:  ['Русском', list_languages[0].language_name],
		selected_language_labels:   list_languages[0].language_name,
	    },
	    methods:{
	        async update_diagrams(){
	            await post_request_data_errors(this.selected_text_type, this.selected_text, this.surname, this.name,
	                this.patronymic, this.selected_course, this.selected_group, this.selected_level_type,
	                this.selected_date)

	            update_data_for_language()
	        },
		create_legend_checked_filters(filters){
	            dt = document.getElementById("list_checked_filters")

	            while (dt.lastElementChild) {
 	                dt.removeChild(dt.lastElementChild);
	            }

	            for (let i=0; i<filters.length; i++){
  	                let dd = document.createElement("dd")
	                dd.appendChild(document.createTextNode(filters[i].name+": "+filters[i].value))
	                dd.style.margin='0% 2% 0%';
	                dt.appendChild(dd)
	            }
            	},
		get_legend_checked_filters(filter_name, filter_value, canceled_filter_1, canceled_filter_2){
	            document.getElementById("legend_checked_filters").style.display = 'block'

	            filter_not_exist = true
	            for (let i=0; i<legend_checked_filters.length; i++){
  	                if (legend_checked_filters[i].name == filter_name) {
  	                    legend_checked_filters[i].value = filter_value
                            filter_not_exist = false
  	                }
  	                if (legend_checked_filters[i].name == canceled_filter_1 ||
                                legend_checked_filters[i].name == canceled_filter_2) {
                            legend_checked_filters.splice(i, 1)
  	                }
	            }

	            if (filter_not_exist){
  	                legend_checked_filters.push({'name': filter_name, 'value': filter_value})
	            }

	            this.create_legend_checked_filters(legend_checked_filters)
            	},
		cancel_all_filters(filter_1, filter_2, filter_3){
	            for (let i=0; i<legend_checked_filters.length; i++){
  	                if (legend_checked_filters[i].name == filter_1 || legend_checked_filters[i].name == filter_2 ||
                                legend_checked_filters[i].name == filter_3) {
                            legend_checked_filters.splice(i, 1)
  	                }
	            }

	            this.create_legend_checked_filters(legend_checked_filters)

	            if (legend_checked_filters.length==0){
  	                document.getElementById("legend_checked_filters").style.display = 'none'
	            }
            	},
	        on_change_filters_for_student(){
	            div_student_filters = document.getElementById("filters_for_student")

	            if(div_student_filters.style.display == "block"){
	                div_student_filters.style.display = "none"
	            }
	            else {
	                div_student_filters.style.display = "block"
	            }
	        },
		cancel_group_filter(){
	            document.getElementById("filter_date").style.display = "none"
	            document.getElementById("filter_group").style.visibility = "hidden"
	            document.getElementById("error_group").style.display = 'none'

	            this.selected_group = ''
	            this.selected_date = ''
            	},
            	cancel_student_filter(){
	            document.getElementById("filter_students").style.display = "none"
	            document.getElementById("error_student").style.display = "none"

	            this.surname = ''
	            this.name = ''
	            this.patronymic = ''
            	},
            	cancel_course_filter(){
	            document.getElementById("filter_course").style.visibility = "hidden"
	            this.selected_course = ''
            	},
		on_cancel_student_filters(){
	            this.cancel_group_filter()
	            this.cancel_student_filter()
	            this.cancel_course_filter()

	            this.cancel_all_filters('Курс', 'Группа', 'Студент')
	            this.update_diagrams()
            	},
	         on_change_choice_group(){
	            document.getElementById("filter_date").style.display = "block"
	            document.getElementById("filter_group").style.visibility = "visible"

	            this.cancel_student_filter()
	            this.cancel_course_filter()
	        },
	        on_change_group(){
	            if (this.selected_group=='' || this.selected_date==''){
	                document.getElementById("error_group").style.display = 'block'
	            }
	            else {
	                document.getElementById("error_group").style.display = 'none'
			this.get_legend_checked_filters('Группа', this.selected_group+' ('+this.selected_date+')',
                            'Курс','Студент')
	                this.update_diagrams()
	            }
	        },
	        on_change_choice_student(){
	            document.getElementById("filter_students").style.display = "block"

	            this.cancel_group_filter()
	            this.cancel_course_filter()
	        },
	        on_change_student(){
	            if (this.surname == '' || this.name == ''){
	                document.getElementById("error_student").style.display = "block"
	            }
	            else {
	                document.getElementById("error_student").style.display = "none"
			this.get_legend_checked_filters('Студент', this.surname+' '+this.name+' '+this.patronymic,
                            'Курс','Группа')
	                this.update_diagrams()
	            }
	        },
	        on_change_choice_course(){
	            document.getElementById("filter_course").style.visibility = "visible"

	            this.cancel_group_filter()
	            this.cancel_student_filter()
	        },
	        on_change_course(){
	            this.get_legend_checked_filters('Курс', this.selected_course, 'Группа', 'Студент')
	            this.update_diagrams()
	        },
	        on_change_filters_for_texts(){
	            div_texts_filters = document.getElementById("filters_for_texts")

	            if(div_texts_filters.style.display == "block"){
	                div_texts_filters.style.display = "none"
	            }
	            else {
	                div_texts_filters.style.display = "block"
	            }
	        },
	        on_change_choice_text(){
	            filter_text = document.getElementById("filter_text")
	            if(this.checked_filters.indexOf("all_texts") == -1){
	                filter_text.style.visibility = "hidden"
	                this.selected_text = ''
			this.cancel_all_filters('Заголовок', '', '')
	                this.update_diagrams()
	            }
	            else {
	                filter_text.style.visibility = "visible"
	            }
	        },
	        on_change_text(){
	            if(this.checked_filters.indexOf("all_texts") != -1){
			this.get_legend_checked_filters('Заголовок', this.selected_text, '', '')
	                this.update_diagrams()
	            }
	        },
	        on_change_choice_text_types(){
	            filter_text_type = document.getElementById("filter_text_type")
	            if (this.checked_filters.indexOf("text_types") == -1){
	                filter_text_type.style.visibility = "hidden"
	                this.selected_text_type = ''
			this.cancel_all_filters('Тип текста', '', '')
	                this.update_diagrams()
	            }
	            else {
	                filter_text_type.style.visibility = "visible"
	            }
	        },
	        on_change_text_type(){
	            if (this.checked_filters.indexOf("text_types") != -1) {
			this.get_legend_checked_filters('Тип текста', this.text_types.filter(text_type =>
                            text_type.id_text_type == this.selected_text_type)[0].text_type_name, '', '')
	                this.update_diagrams()
	            }
	        },
	        on_change_level_type(){
	             this.update_diagrams()
	        },
		on_change_type_static(){
	             update_data()
            	},
		on_change_language_labels(){
	             update_data()
            	},
	        on_download(){
	            var data = []

	            data.push(["id_tag", "tag_parent", "tag_language", "tag_text", "tag_text_russian", "count_data",
			      "count_data_on_100_tokens"])
	            for (let i=0; i<data_for_language.length; i++){
	                data.push([data_for_language[i].tag__id_tag, data_for_language[i].tag__tag_parent,
	                data_for_language[i].tag__tag_language, data_for_language[i].tag__tag_text,
	                data_for_language[i].tag__tag_text_russian, data_for_language[i].count_data,
			data_for_language[i].count_data_on_tokens])
	            }

	            var workbook = XLSX.utils.book_new(),
	                worksheet = XLSX.utils.aoa_to_sheet(data);
	            workbook.SheetNames.push("Errors");
	            workbook.Sheets["Errors"] = worksheet;
	            selected_language = document.getElementById("selected_language").value
	            XLSX.writeFile(workbook, `Errors_types_${this.selected_level_type}_${selected_language}.xlsx`);
	        },
	    }
	})

	var type_errors_bar = new Vue({
	el: '#type_errors_bar',
	data:{
	    chart: {},
	    labels: [],
	    stars: [],
	    chart_type: 'bar',
	    chartColor: 'crimson',
	    loading: false
	},
	methods: {
	    mounted(){
	        this.init_chart()
	        this.get_data()
	        this.update_chart()
	    },
	    init_chart() {
	        this.chart = Vue.markRaw(new Chart(this.$refs.chart, {
	            type: this.chart_type,
	            data: {
	                labels: [],
	                datasets: [{
	                    label: 'Тип ошибки',
	                    backgroundColor: 'crimson',
	                    borderColor: 'crimson',
	                    data: []
	                }]
	            },
	            options: {
	                responsive: true,
	                tooltips: {
	                    mode: 'index'
	                },
	                scales: {
	                    y: {
	                        beginAtZero: true
	                    }
	                }
	            }
	        }));
	        },
	    update_chart() {
	        this.chart.data.labels = this.labels
	        this.chart.data.datasets[0].data = this.stars
	        this.chart.update()
	    },
	    get_data() {
	        const labels = []
	        const points = []

	        for (let i=0; i<data_for_language.length; i++) {
	            if (filters.selected_language_labels=='Русском'){
                        labels.push(data_for_language[i].tag__tag_text_russian)
	            }
	            else {
                        labels.push(data_for_language[i].tag__tag_text)
	            }

	            if (filters.selected_type_static=='абсолютная'){
                        points.push(data_for_language[i].count_data)
	            }
	            else {
                        points.push(data_for_language[i].count_data_on_tokens)
	            }
		}

	        this.labels = labels
	        this.stars = points
	    },
	}
	})

	type_errors_bar.mounted()

	var type_errors_pie = new Vue({
	el: '#type_errors_pie',
	data:{
	    chart: {},
	    labels: [],
	    stars: [],
	    chart_type: 'pie',
	    chartColor: 'crimson',
	    loading: false
	},
	methods: {
	    mounted(){
	        this.init_chart()
	        this.get_data()
	        this.update_chart()
	    },
	    init_chart() {
	        this.chart = Vue.markRaw(new Chart(this.$refs.chart, {
	            type: this.chart_type,
	            data: {
	                labels: [],
	                datasets: [{
	                    label: 'Тип ошибки',
	                    backgroundColor: [
	                        'rgba(163,221,203,1)',
	                        'rgba(232,233,161,1)',
	                        'rgba(230,181,102,1)',
	                        'rgba(229,112,126,1)',
	                        'rgba(100,112,255,1)',
	                        'rgba(229,255,120,1)',
	                        'rgba(254,0,126,1)',
	                    ],
	                    borderColor: [
	                        'rgba(163,221,203,1)',
	                        'rgba(232,233,161,1)',
	                        'rgba(230,181,102,1)',
	                        'rgba(229,112,126,1)',
	                        'rgba(100,112,255,1)',
	                        'rgba(229,255,120,1)',
	                        'rgba(254,0,126,1)',
	                    ],
	                    data: []
	                }]
	            },
	            options: {
	                responsive: true,
	                tooltips: {
	                    mode: 'index'
	                },
	                scales: {
	                    y: {
	                        beginAtZero: true
	                    }
	                }
	            }
	        }));
	        },
	    update_chart() {
	        this.chart.data.labels = this.labels
	        this.chart.data.datasets[0].data = this.stars
	        this.chart.update()
	    },
	    get_data() {
	        var labels = []
	        var points = []

	        let count = 0
		let count_on_tokens = 0
	        for (let i=0; i<data_for_language.length; i++) {
	            count += data_for_language[i].count_data
	            count_on_tokens += data_for_language[i].count_data_on_tokens
	        }

	        for (let i=0; i<data_for_language.length; i++) {
	            if (filters.selected_language_labels=='Русском'){
                        labels.push(data_for_language[i].tag__tag_text_russian)
	            }
	            else {
                        labels.push(data_for_language[i].tag__tag_text)
	            }

	            if (filters.selected_type_static=='абсолютная'){
                        points.push(data_for_language[i].count_data * 100 / count)
	            }
	            else {
                        points.push(data_for_language[i].count_data_on_tokens * 100 / count_on_tokens)
	            }
            	}

	        this.labels = labels
	        this.stars = points
	    },
	}
	})

	type_errors_pie.mounted()
</script>
{%endblock script%}
