{% extends "base.html" %}
{% block content %}
{%if right%}
{%if exist%}
{%if bad_name%}
<div class="alert alert-danger top-notification" role="alert" id = 'warning-message'>
    Ошибка в названии группы (должна присутствовать хотя бы одна буква или цифра)
</div>
{%endif%}

{%if bad_year%}
    <div class="alert alert-danger top-notification" role="alert" id = 'warning-message'>
        Неверно указан год 
    </div>
{%endif%}
<div class="card non-round">
    <div class="card-header non-padding non-border">
        <div class = "section-head-text">
            <a class="btn list-option-btn shadow-none" data-bs-toggle="collapse" href="#group_info" role="button" aria-expanded="false" aria-controls="group_info">
                Информация о группе
              </a>
        </div>
    </div>
        <div class="collapse" id="group_info">
            <div class="card-body">
                <ul class="list-group">
                    <form method="POST" novalidate>
                        <div class = 'mb-3'>
                            {% comment %} {% csrf_token %} {% endcomment %}
                            <label title = 'Не более 256 символов'>Название группы</label>
                            <div>{{data_form.group_name}}</div>
                        </div>
                        <div class = 'mb-3'>
                            {% comment %} {% csrf_token %} {% endcomment %}
                            <label title = 'Год формирования группы'>Год обучения</label>
                            <div class='container-fluid non-padding'>
                                <div class = 'row'>
                                    <div id = 'start-year' class="col-1">{{data_form.year}}</div><div id='end-year'  class="col col-10 field-append">/</div>
                            </div>
                            </div>
                        </div>
                        <script>
                            var year = document.getElementById('start-year').children[0]
                            
                            document.getElementById('end-year').innerHTML =
                                    "/  "+(parseInt(year.value)+1).toString();
                            year.oninput = function() {
                                document.getElementById('end-year').innerHTML =
                                    "/  "+(parseInt(year.value)+1).toString();
                                }; 
                        </script>
                        <input type="submit" value="Сохранить" class = 'mt-2 btn btn-success save_button', name = 'group_info_modify'>
                    </form>
                </ul>
            </div>
        </div>
</div>

<div class="card non-round">
    <div class="card-header non-padding non-border">
        <div class = "section-head-text">
            <a class="btn list-option-btn shadow-none" data-bs-toggle="collapse" href="#student-list" role="button" aria-expanded="false" aria-controls="student-list">
                Список студентов
              </a>
        </div>
    </div>
    <div class="collapse" id="student-list">
        <div class="card-body non-padding">
            <table class="table table-borderless">
                <thead class = 'table-light active-text non-border'>
                <tr class = 'table-top-border'>
                    <th scope="col" class = 'cell-padding section-head-text'>Id</th>
                    <th scope="col" class='section-head-text'>Фамилия</th>
                    <th scope="col" class='section-head-text'>Имя</th>
                    <th scope="col" class='section-head-text'>Отчество</th>
                    <th scope="col" class='section-head-text'>Логин</th>
                </tr>
                </thead>
                <tbody>
                {%for student in group_students%}
                <tr class = 'selectable-table-row cell-paddings'>
                    <td scope="row" class = 'cell-padding index-cell'>{{student.id_str}}</td>
                    <td >{{student.last_name}}</td>
                    <td >{{student.name}}</td>
                    <td >{{student.patronymic}}</td>
                    <td >{{student.login}}</td>
                </tr>
                {%endfor%}
            </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card non-round">
    <div class="card-header non-padding non-border">
        <div class = "section-head-text">
            <a class="btn list-option-btn shadow-none" data-bs-toggle="collapse" href="#add_studs" role="button" aria-expanded="false" aria-controls="add_studs">
                Добавление студентов
              </a>
        </div>
    </div>
        <div class="collapse" id="add_studs">
            <div class="card-body">
                <ul class="list-group">
                    <form method="POST" novalidate>
                        <div class = 'mb-3'>
                            {% comment %} {% csrf_token %} {% endcomment %}
                            <p title = 'Выберите студентов для удаления (CTRL+ЛКМ)'>Выбор студентов:</p>
                            <div>{{add_std_form.studs}}</div>
                        </div>
                        <input type="submit" value="Добавить" class = 'mt-2 btn btn-success save_button', name = 'add_studs'>
                    </form>
                </ul>
            </div>
        </div>
</div>

<div class="card non-round">
    <div class="card-header non-padding non-border">
        <div class = "section-head-text">
            <a class="btn list-option-btn shadow-none" data-bs-toggle="collapse" href="#del_studs" role="button" aria-expanded="false" aria-controls="del_studs">
                Удаление студентов
              </a>
        </div>
    </div>
        <div class="collapse" id="del_studs">
            <div class="card-body">
                <ul class="list-group">
                    <form method="POST" novalidate>
                        <div class = 'mb-3'>
                            {% comment %} {% csrf_token %} {% endcomment %}
                            <p title = 'Выберите студентов для удаления (CTRL+ЛКМ)'>Выбор студентов:</p>
                            <div>{{del_std_form.studs}}</div>
                        </div>
                        <input type="submit" value="Удалить" class = 'mt-2 btn btn-danger save_button', name = 'del_studs'>
                    </form>
                </ul>
            </div>
        </div>
</div>

<div class="card non-round">
    <div class="card-header non-padding non-border">
        <div class = "section-head-text">
            <a class="btn list-option-btn shadow-none" data-bs-toggle="collapse" href="#del_group" role="button" aria-expanded="false" aria-controls="del_group">
                Удаление группы
              </a>
        </div>
    </div>
        <div class="collapse" id="del_group">
            <div class="card-body">
                <ul class="list-group">
                    <form method="POST" novalidate onSubmit="return confirm('Удалить группу?');">
                        {% comment %} {% csrf_token %} {% endcomment %}
                        <input type="submit" value="Удалить группу" class = 'mt-2 btn btn-danger save_button', name = 'del_group' hre>
                    </form>
                </ul>
            </div>
        </div>
</div>

{%else%}
<div class='card-header non-padding non-border'>
   <b> Группы не существует</b>
</div>
{%endif%}
{%else%}
<div class='card-header non-padding'>
    <b>Недостаточно прав или произошла ошибка записи</b>
</div>
{%endif%}
<div class='card-header non-padding'>
    <div class='container-fluid'>
        <div class = 'row'>
            <div class = 'col'>
                <a class = 'mt-2 mb-3 btn btn-secondary' href="{% url 'group_selection'%}">Назад</a>
            </div<
        </div>
    </div>
</div>
{%endblock%}
