{% extends "base.html" %}

<!-- Styles -->
{% load static %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
{% endblock link %}

<!-- Content -->
{% block content %}
<main class="container main">
	<!-- Search  bar -->
	<div class="col col-md-8 col-11 mx-auto">
		<form action="{% url 'search' %}" method="post">
			{% csrf_token %}
			<div class="input-group input-group-lg mt-5 mb-3 mx-auto search-bar">
				<input
					name="corpus_search"
					type="search"
					class="form-control shadow-sm border-2 fs-5"
					placeholder="Поиск по корпусу"
					aria-label="Поиск по корпусу"
					aria-describedby="search-btn"
					autocomplete="off"
				/>
				<button class="btn btn-primary shadow-sm search-btn" type="submit" id="search-btn">
					<svg
						class="bi"
						xmlns="http://www.w3.org/2000/svg"
						height="26"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
					>
						<path
							stroke-linecap="round"
							stroke-width="2"
							d="M18.5 18.5 22 22M6.75 3.27a9.5 9.5 0 1 1-3.48 3.48"
						/>
					</svg>
				</button>
			</div>
		</form>
		<!-- FAQ links -->
		<div class="container mb-5 d-flex flex-row justify-content-start gap-3 fs-6">
			<a class="btn btn-secondary rounded-pill" href="{% url 'cql_faq' %}">Язык запросов</a>
			<a class="btn btn-secondary rounded-pill" href="{% url 'tag_list' %}">Справочник тегов</a>
		</div>
	</div>

	<!-- Page content -->
	{% block indexContent %} {% endblock indexContent %}
</main>
{% endblock content%}
