{% extends "base.html" %}
{% block link %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <main class="justify-content-center form-signup d-flex">
        
        <div class="asd auth-page col-4">
            <h1 class="mt-2 mb-5 text-center">Авторизация</h1>
            {% load filters %}
            <div class="form-group mt-4">
                <form method="post" novalidate>
                    
                    {% comment %} {% csrf_token %} {% endcomment %}
                    <div class="main-invalid-feedback text-center">
                        {% for error in form_login.non_field_errors %}
                            {{ error | striptags }}
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        <div class="mt-4 custom-input">
                            <label for="{{ form_login.login.id_for_label }}" class="form-label">Логин</label>
                            {% if not form_login.login.errors %}
                            {{ form_login.login }}
                            {% else %}
                            {{ form_login.login|addclass:'is-invalid' }}
                            <div class="invalid-feedback">
                                {% for error in form_login.login.errors %}
                                    {{ error | striptags }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <div class="mt-4 custom-input">
                            <label for="{{ form_login.password.id_for_label }}" class="form-label">Пароль</label>
                            {% if not form_login.password.errors %}
                            {{ form_login.password }}
                            {% else %}
                            {{ form_login.password|addclass:'is-invalid' }}
                            <div class="invalid-feedback">
                                {% for error in form_login.password.errors %}
                                    {{ error | striptags }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <button type="submit" class="mt-2 btn pakt-btn">Авторизация</button>
                </form>


            </div>
            <div class="login-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                Если вы хотите зарегистрироваться или восстановить пароль, обратитесь к своему преподавателю.
            </div>
        </div>
    </main>
</div>

{%endblock%}

{% block script %}

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
            })
    })()
</script>

{% endblock %}