{% load static %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}" />
{% endblock link %}

<!-- TODO logout confirmation -->
<nav class="navbar navbar-expand-md bg-white shadow-sm sticky-top fs-5">
	<div class="container-fluid color-primary">
		<button
			class="navbar-toggler m-0 p-0 d-flex d-md-none align-items-center gap-2"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar-content"
			aria-controls="navbar-content"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<svg
				class="bi"
				xmlns="http://www.w3.org/2000/svg"
				height="32"
				fill="none"
				stroke="currentColor"
				viewBox="0 0 24 24"
			>
				<path stroke-linecap="round" stroke-width="1.5" d="M4 7h3m13 0h-9M20 17h-3M4 17h9M4 12h16" />
			</svg>
			Меню
		</button>
		<div class="collapse navbar-collapse" id="navbar-content">
			<ul class="navbar-nav gap-2">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">
						<svg
							class="bi"
							xmlns="http://www.w3.org/2000/svg"
							height="32"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
						>
							<path
								stroke-linecap="round"
								stroke-width="1.5"
								d="M22 12.2v1.53c0 3.9 0 5.85-1.17 7.06S17.77 22 14 22h-4c-3.77 0-5.66 0-6.83-1.21S2 17.63 2 13.73V12.2c0-2.28 0-3.43.52-4.38.52-.95 1.47-1.53 3.36-2.71l2-1.24C9.88 2.62 10.9 2 12 2c1.1 0 2.11.62 4.12 1.87l2 1.24c1.9 1.18 2.84 1.76 3.36 2.71M15 18H9"
							/>
						</svg>
						ПАКТ
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link icon-link" href="{% url 'corpus' %}">
						<svg
							class="bi"
							xmlns="http://www.w3.org/2000/svg"
							height="32"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
						>
							<path stroke-linecap="round" stroke-width="1.5" d="M4 18V6M20 12v6" />
							<path stroke-width="1.5" d="M12 10c4.42 0 8-1.8 8-4s-3.58-4-8-4-8 1.8-8 4 3.58 4 8 4Z" />
							<path stroke-linecap="round" stroke-width="1.5" d="M20 12c0 2.2-3.58 4-8 4s-8-1.8-8-4" />
							<path stroke-width="1.5" d="M20 18c0 2.2-3.58 4-8 4s-8-1.8-8-4" />
						</svg>
						Корпус
					</a>
				</li>

				{% if user.is_authenticated %} {% if user.is_teacher or user.is_student %}
				<li class="nav-item">
					<a class="nav-link icon-link" href="{% url 'manage' %}">
						<svg
							class="bi"
							xmlns="http://www.w3.org/2000/svg"
							height="32"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
						>
							<circle cx="12" cy="12" r="3" stroke-width="1.5" />
							<path
								stroke-linecap="round"
								stroke-width="1.5"
								d="M3.66 10.64c.47.3.78.8.78 1.36s-.3 1.06-.78 1.36A2 2 0 0 0 2.6 15.4c.05.4.28.8.75 1.61.47.8.7 1.21 1.01 1.45a2 2 0 0 0 1.48.4c.24-.03.49-.13.82-.3.5-.27 1.09-.28 1.57 0s.77.8.79 1.35c.01.38.05.64.14.87a2 2 0 0 0 1.08 1.08c.37.15.84.15 1.77.15s1.4 0 1.77-.15a2 2 0 0 0 1.08-1.08c.09-.23.13-.49.14-.87.02-.56.3-1.07.8-1.35a1.62 1.62 0 0 1 1.56 0c.33.17.58.27.82.3a2 2 0 0 0 1.48-.4c.31-.24.54-.64 1.01-1.45l.49-.87m-.81-2.77c-.47-.3-.78-.8-.78-1.36s.3-1.06.78-1.36A2 2 0 0 0 21.4 8.6c-.05-.4-.28-.8-.75-1.61-.47-.8-.7-1.21-1.01-1.45a2 2 0 0 0-1.48-.4c-.24.03-.49.13-.82.3-.5.27-1.09.28-1.57 0s-.77-.8-.79-1.35a2.47 2.47 0 0 0-.14-.87 2 2 0 0 0-1.08-1.08C13.4 2 12.93 2 12 2s-1.4 0-1.77.15a2 2 0 0 0-1.08 1.08c-.09.23-.13.49-.14.87-.02.56-.3 1.07-.8 1.35-.47.28-1.06.27-1.56 0a2.46 2.46 0 0 0-.82-.3 2 2 0 0 0-1.48.4c-.31.24-.54.64-1.01 1.45l-.49.87"
							/>
						</svg>
						Управление
					</a>
				</li>
				{% endif %} {% endif %}

				<!-- Login / logout for xs screens inside menu -->
				<li class="fs-5 d-sm-none nav-item">
					{% if user.is_authenticated %}
					<a class="nav-link icon-link" href="{% url 'logout' %}">
						<svg
							class="bi"
							xmlns="http://www.w3.org/2000/svg"
							height="32"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								d="M15 12H2m0 0 3.5-3M2 12l3.5 3"
							/>
							<path
								stroke-linecap="round"
								stroke-width="1.5"
								d="M9 7c.01-2.18.11-3.35.88-4.12C10.76 2 12.18 2 15 2h1c2.83 0 4.24 0 5.12.88.88.88.88 2.3.88 5.12v8c0 2.83 0 4.24-.88 5.12-.77.77-1.94.87-4.12.88m-8-5c.01 2.18.11 3.35.88 4.12.64.64 1.57.82 3.12.86"
							/>
						</svg>
						Выход ({{user.name}} {{user.last_name}})
					</a>
					{% else %}
					<a class="nav-link icon-link" href="{% url 'login' %}">
						<svg
							class="bi"
							xmlns="http://www.w3.org/2000/svg"
							height="32"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								d="M2 12h14m0 0-3.5-3m3.5 3-3.5 3"
							/>
							<path
								stroke-linecap="round"
								stroke-width="1.5"
								d="M9 7c.01-2.18.11-3.35.88-4.12C10.76 2 12.18 2 15 2h1c2.83 0 4.24 0 5.12.88.88.88.88 2.3.88 5.12v8c0 2.83 0 4.24-.88 5.12-.77.77-1.94.87-4.12.88m-8-5c.01 2.18.11 3.35.88 4.12.64.64 1.57.82 3.12.86"
							/>
						</svg>
						Войти
					</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>

	<!-- Login / logout for sm+ screens outside menu-->
	<div class="login-btn fs-5 d-sm-block d-none">
		{% if user.is_authenticated %}
		<a class="nav-link icon-link" href="{% url 'logout' %}" title="Выход">
			{{user.name}} {{user.last_name}}
			<svg
				class="bi"
				xmlns="http://www.w3.org/2000/svg"
				height="32"
				fill="none"
				stroke="currentColor"
				viewBox="0 0 24 24"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="1.5"
					d="M15 12H2m0 0 3.5-3M2 12l3.5 3"
				/>
				<path
					stroke-linecap="round"
					stroke-width="1.5"
					d="M9 7c.01-2.18.11-3.35.88-4.12C10.76 2 12.18 2 15 2h1c2.83 0 4.24 0 5.12.88.88.88.88 2.3.88 5.12v8c0 2.83 0 4.24-.88 5.12-.77.77-1.94.87-4.12.88m-8-5c.01 2.18.11 3.35.88 4.12.64.64 1.57.82 3.12.86"
				/>
			</svg>
		</a>
		{% else %}
		<a class="nav-link icon-link" href="{% url 'login' %}">
			Войти
			<svg xmlns="http://www.w3.org/2000/svg" height="32" fill="none" stroke="currentColor" viewBox="0 0 24 24">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="1.5"
					d="M2 12h14m0 0-3.5-3m3.5 3-3.5 3"
				/>
				<path
					stroke-linecap="round"
					stroke-width="1.5"
					d="M9 7c.01-2.18.11-3.35.88-4.12C10.76 2 12.18 2 15 2h1c2.83 0 4.24 0 5.12.88.88.88.88 2.3.88 5.12v8c0 2.83 0 4.24-.88 5.12-.77.77-1.94.87-4.12.88m-8-5c.01 2.18.11 3.35.88 4.12.64.64 1.57.82 3.12.86"
				/>
			</svg>
		</a>
		{% endif %}
	</div>
</nav>

<!-- 
<nav class="navbar navbar-expand-md bg-white sticky-top shadow-sm">
	<div class="container-fluid">
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				
				
				
			</ul>
			
		</div>
	</div>
</nav> -->
