{% extends "base.html" %} {% load filters %} {% load static%} {% block link %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"
/>
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.css' %}" />
{% endblock link %}

<!-- Content -->
{% block content %}
<div class="container my-4">
	<h2 class="text-primary text-center">Добавить текст</h2>
	<form method="post" novalidate class="my-4 col-lg-8 mx-auto px-2 text-secondary">
		{% comment %}{% csrf_token %}{% endcomment %}
		<div class="row my-2">
			<label for="{{ form_text.header.id_for_label }}" class="col-7">
				Название текста {% if not form_text.header.errors %} {{ form_text.header }} {% else %}
				{{form_text.header|addclass:'is-invalid' }}
				<div class="invalid-feedback">{{ form_text.header.errors | first | striptags }}</div>
				{% endif %}
			</label>
			<label for="{{ form_text.user.id_for_label }}" class="col-5">
				Автор {% if is_teacher %}
				<!-- Enabled choice -->
				{% if not form_text.user.errors %} {{ form_text.user }} {% else %}
				{{form_text.user|addclass:'is-invalid' }}
				<div class="invalid-feedback">{{ form_text.user.errors | first | striptags }}</div>
				{% endif %}
				<!-- Disabled -->
				{% else %} {{ form_text.user|addclass:'d-none' }}
				<input type="text" disabled class="form-control" value="{{user.last_name}} {{ user.name }}" />
				{% endif %}
			</label>
		</div>

		<div class="row align-items-start my-3">
			<label for="{{ form_text.text.id_for_label }}" class="col-7">
				Текст {% if not form_text.text.errors %} {{ form_text.text }} {% else %}
				<!--  -->
				{{ form_text.text|addclass:'is-invalid' }}
				<div class="invalid-feedback">{{ form_text.text.errors | first | striptags }}</div>
				{% endif %}
			</label>
			<div class="col-5 d-flex flex-column gap-3">
				<label for="{{ form_text.group.id_for_label }}" class="col-12">
					Группа {% if not form_text.group.errors %} {{ form_text.group }} {% else %}
					{{form_text.group|addclass:'is-invalid' }}
					<div class="invalid-feedback">{{ form_text.group.errors | first | striptags }}</div>
					{% endif %}
				</label>
				<label for="{{ form_text.creation_course.id_for_label }}" class="col-12">
					Курс обучения {% if not form_text.creation_course.errors %}
					<!--  -->
					{{ form_text.creation_course }} {% else %} {{ form_text.creation_course|addclass:'is-invalid' }}
					<div class="invalid-feedback">{{ form_text.creation_course.errors | first | striptags }}</div>
					{% endif %}
				</label>
				<label for="{{ form_text.create_date.id_for_label }}" class="col-12">
					Дата создания текста {% if not form_text.create_date.errors %} {{ form_text.create_date }}
					<!--  -->
					{% else %} {{ form_text.create_date|addclass:'is-invalid' }}
					<div class="invalid-feedback">{{ form_text.create_date.errors | first | striptags }}</div>
					{% endif %}
				</label>

				<label for="{{ form_text.language.id_for_label }}" class="col-12">
					Язык текста {{ form_text.language|addclass:'d-none'}}
					<input class="form-control" disabled value="{{language}}" />
				</label>

				<label for="{{ form_text.text_type.id_for_label }}" class="col-12">
					Тип текста {% if not form_text.text_type.errors %} {{ form_text.text_type }} {% else %}
					{{form_text.text_type|addclass:'is-invalid' }} {% endif %}
				</label>
			</div>
		</div>

		<hr class="my-4" />

		<div class="row align-items-end my-3">
			<label for="{{ form_text.emotional.id_for_label }}" class="col-8">
				Эмоционально-физиологическое состояние написания текста {% if not form_text.emotional.errors %}
				{{form_text.emotional }} {% else %}
				<!--  -->
				{{ form_text.emotional|addclass:'is-invalid' }} {% endif %}
			</label>
			<label for="{{ form_text.write_place.id_for_label }}" class="col-4">
				Где написан текст {% if not form_text.write_place.errors %} {{ form_text.write_place }} {% else %}
				<!--  -->
				{{ form_text.write_place|addclass:'is-invalid' }} {% endif %}
			</label>
		</div>

		<div class="row align-items-end my-3">
			<label for="{{ form_text.education_level.id_for_label }}" class="col-4">
				Год изучения языка {% if not form_text.education_level.errors %} {{ form_text.education_level }}
				<!--  -->
				{% else %} {{ form_text.education_level|addclass:'is-invalid' }} {% endif %}
			</label>
			<label for="{{ form_text.self_rating.id_for_label }}" class="col-4">
				Самооценивание {% if not form_text.self_rating.errors %} {{ form_text.self_rating }} {% else %} {{
				form_text.self_rating|addclass:'is-invalid' }} {% endif %}
			</label>
			<label for="{{ form_text.student_assesment.id_for_label }}" class="col-4">
				Оценка задания {% if not form_text.student_assesment.errors %} {{ form_text.student_assesment }}
				<!--  -->
				{% else %} {{ form_text.student_assesment|addclass:'is-invalid' }}{% endif %}
			</label>
		</div>

		{{ form_text.modified_date }}
		<button type="submit" class="btn shadow-none btn-primary my-3 mx-auto w-50">Загрузить текст</button>
	</form>
</div>
{% endblock content %}

<!-- Scripts -->
{% block plugins %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock plugins %} {% block script %}
<script type="text/javascript" src="{% static 'js/apply_select2.js' %}" defer></script>
{% endblock %}
