{% extends "base.html" %}
{% block content %}

<div class="container-sm">
    <main>
        <h1 class="head-text text-center mt-5 mb-5">- ПАКТ -</h1>

        <a href="/search1">Вариант 1</a>, <a href="/search2">Вариант 2</a>, <a href="/search3">Вариант 3</a>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Поиск по корпусу" aria-label="Поиск по корпусу" aria-describedby="button-addon2" value='"lieber"'>
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Поиск</button>
        </div>
        
        <br><br>

        <table class="table table-hover table-sm">
            <thead>
                <tr class='corpus-tr'>
                    <th scope="col">#</th>
                    <th scope="col">Название текста</th>
                    <th scope="col">Язык</th>
                    <th scope="col">Тип текста</th>
                    <th scope="col">Результат поиска</th>
                </tr>
            </thead>
            <tbody>
                <tr class='corpus-tr'>
                    <td scope="col">1</td>
                    <td>Reise</td>
                    <td>Deutsche</td>
                    <td>Essay</td>
                    <td>Die Großstädter reisen <span style="background-color: #0dcaf0;">lieber</span> ans Meer oder in die Berge, weil sie im Urlaub mehr Ruhe wollen haben</td>
                </tr>
                <tr class='corpus-tr'>
                    <td scope="col">2</td>
                    <td>Diskussionsfragen</td>
                    <td>Deutsche</td>
                    <td>Essay</td>
                    <td>Dann <span style="background-color: #0dcaf0;">lieber</span> heute noch!</td>
                </tr>
                <tr class='corpus-tr'>
                    <td scope="col">3</td>
                    <td>Test</td>
                    <td>Deutsche</td>
                    <td>Test</td>
                    <td>Ich würde <span style="background-color: #0dcaf0;">lieber</span> von lügenden, grausamen, dummen Leute Abstand halten, die keinen Sinn für Humor haben.</td>
                </tr>
            </tbody>
        </table>

    </main>
</div>

{%endblock%}