{% extends "index.html" %}

<!-- Main page content -->
{% block indexContent %}
<div class="container col-md-10 mx-auto">
	<!-- Error label -->
	{% if error_search %}
	<h1 class="text-danger text-center">{{ error_search }}</h1>
	{% endif %}

	<!-- Result -->
	{% if count_search %}
	<span class="text-secondary fs-4 mb-4">Всего результатов: {{ count_search }}</span>
	{% endif %}

	<!-- List -->
	{% if list_search %}
	<div class="d-flex flex-column gap-2 my-3">
		{% for search in list_search %}
		<!-- Result card -->
		<div class="card rouded-4 p-3 search-result-card">
			<div class="row">
				<div class="col-auto text-secondary">{{ forloop.counter }}</div>
				<div class="col">
					<div class="d-flex justify-content-between align-items-start">
						<div class="mb-1">
							<a href="{% url 'text' text_id=search.text_id %}" class="link-primary text-decoration-none">
								{{ search.language }} / {{ search.text_type }} / {{ search.header }}
							</a>

							{% if search.create_date != None %}
							<span class="text-secondary">: {{ search.create_date }} </span>{% endif %}
						</div>
						{% if is_registered %}
						<a
							class="btn btn-secondary px-1 py-0 ms-5 h-auto"
							href="{% url 'text_view' language=search.language text_type=search.text_type text_id=search.text_id %}"
						>
							<small> Разбор </small>
						</a>
						{% endif %}
					</div>
					<div class="search_text">
						{% for token in search.tokens %} {% if token.primary %}
						<span class="text-success"><b>{{ token.text }}</b></span>
						{% else %} {{ token.text }} {% endif %} {% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock indexContent %}
