{% extends "base.html" %}
{% block content %}

<div class="container-sm">
    <main>
        <h1 class="head-text text-center mt-5 mb-5"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">- ПАКТ -</a></h1>

        <div><a href="{% url 'cql_faq' %}">FAQ по CQL</a><a href="{% url 'tag_list' %}" style="margin-left:15px;">Справочник тегов</a></div>
        <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="corpus_search" class="form-control non-round" placeholder="Поиск по корпусу" aria-label="Поиск по корпусу" aria-describedby="button-addon2">

                <button type="submit" class="btn btn-outline-secondary non-round" id="button-addon2">Поиск</button>
            </div>
        </form>
        
        <br><br>

        <div class="main-small-text mt-5">
            <h2 class="mt-4 mb-4">Причина ошибок</h2>
            <table class="table table-hover table-sm">
                <tr>
                    <th>Причина</th>
                    <th>Аббревиатура</th>
                </tr>
                {% for deutsche_reason in deutsche_reasons  %}
                    <tr>
                        <td class="pe-5">{{ deutsche_reason.reason_name }}</td>
                        <td class="pe-5">{{ deutsche_reason.reason_abbrev }}</td>
                    </tr>
                {% endfor %}
            </table>

            <h2 class="mt-4 mb-4">Степень грубости ошибки</h2>
            <table class="table table-hover table-sm">
                <tr>
                    <th>Причина</th>
                    <th>Аббревиатура</th>
                </tr>
                {% for deutsche_grade in deutsche_grades  %}
                    <tr>
                        <td class="pe-5">{{ deutsche_grade.grade_name }}</td>
                        <td class="pe-5">{{ deutsche_grade.grade_abbrev }}</td>
                    </tr>
                {% endfor %}
            </table>

            <h2 class="mt-4 mb-4">Теги ошибок</h2>
            <table class="table table-hover table-sm">
                <tr>
                    <th>Тег</th>
                    <th>На русском</th>
                    <th>Аббревиатура</th>
                </tr>
                {% for deutsche_error_tag in deutsche_error_tags  %}
                    <tr>
                        <td class="pe-5">{{ deutsche_error_tag.tag_text }}</td>
                        <td class="pe-5">{{ deutsche_error_tag.tag_text_russian }}</td>
                        <td class="pe-5">{{ deutsche_error_tag.tag_text_abbrev }}</td>
                    </tr>
                {% endfor %}
            </table>

            <h2 class="mt-4 mb-4">Теги частей речи</h2>
            <table>
                {% for deutsche_pos_tag in deutsche_pos_tags  %}
                    <tr>
                        <td class="pe-5">{{ deutsche_pos_tag.tag_text }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>

    </main>
</div>

{%endblock%}