{%extends "index.html" %}

<!-- Main page content -->
{% block indexContent %}
<div class="container">
	<h2 class="text-center text-primary my-5">{{title}}</h2>

	<div class="col col-md-8 mx-auto d-flex flex-column gap-5">
		<div>
			<h4 class="mb-4">Причины ошибок</h4>
			<table class="table table-hover bg-white card-rounded shadow fs-6">
				<thead class="table-light">
					<th scope="col">Причина</th>
					<th scope="col" class="col-2">Аббревиатура</th>
				</thead>
				<tbody>
					{% for reason in reasons %}
					<tr>
						<td>{{ reason.reason_name }}</td>
						<td>{{ reason.reason_abbrev }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div>
			<h4 class="mb-4">Степень грубости ошибки</h4>
			<table class="table table-hover bg-white card-rounded shadow fs-6">
				<thead class="table-light">
					<th scope="col">Степень грубости</th>
					<th scope="col" class="col-2">Аббревиатура</th>
				</thead>
				<tbody>
					{% for grade in grades %}
					<tr>
						<td>{{ grade.grade_name }}</td>
						<td>{{ grade.grade_abbrev }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div>
			<h4 class="mb-4">Теги ошибок</h4>
			<div class="table-responsive-sm px-1">
				<table class="table table-hover bg-white card-rounded shadow fs-6">
					<thead class="table-light">
						<th scope="col" class="col-5">Тег</th>
						<th scope="col" class="col-5">На русском</th>
						<th scope="col" class="col-2">Аббревиатура</th>
					</thead>
					<tbody>
						{% for error_tag in error_tags %}
						<tr>
							<td>{{ error_tag.tag_text }}</td>
							<td>{{ error_tag.tag_text_russian }}</td>
							<td>{{ error_tag.tag_text_abbrev }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock indexContent %}
