
{%extends "base.html"%}
{%block styles%}
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }
      body {
        overflow-y: scroll; /* добавить полосу прокрутки */ 
      }
#found-text-error{
    color: #ec0404;
    font-size: large;
    font-weight: 900;
}

.text-module{
    background-color: gray;
    height: 100%;
    width: 100%;
}
.header-area>div{
    display: inline;
    font-family: 'Montserrat', sans-serif;
}
.header-name{
    color: rgba(13, 202, 240, 0.8);
    font-size: 20pt;
}
.header{
    font-size: 18pt;
}

.text-area{
    width:98.9vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse; 
    border: 1px solid rgba(109, 109, 109, 0.479);
}

.text-row{
    /* border-bottom: 1px solid rgba(109, 109, 109, 0.479); */
    user-select: none;
}
.sentence{
    max-width: 70vw;
    border-bottom: 1px solid rgba(109, 109, 109, 0.479);
    overflow-x: scroll;
    scroll-behavior:smooth;
}
.sentence::-webkit-scrollbar {
    height: 5px;
    background-color: #f1f1f1;
}
.sentence::-webkit-scrollbar-thumb {
    background-color: #5ce4ff8f;
}
.sentence:hover::-webkit-scrollbar-thumb{
    background-color: #00bfe6;
    transition: 1s;

}

.text-row:hover > .sentence-number{
    color:black;
}

.tools-column{
    width: 20px;
    padding-right:10pt;
}
.tools-column{
    background-color: #f8f8f8;
    padding-right: 2pt;
    padding-left:5pt;
}
.tools-column > div{
    display: block;
    font-weight: 600;
    font-size: large;
    text-align: center;
    visibility: hidden;
    padding: 3pt;
}
.tools-button>svg{
    border-radius: 50%;
    transition: 0.1s linear;
}
.create-annotation-button>svg{
    fill:var(--color-accept);
}
.tools-button:hover>svg{
    transform: rotate(90deg);
}

.delete-annotation-button>svg{
    fill:var(--color-decline);
}

.sentence-number{
    color: rgba(109, 109, 109, 0.479);
    text-align: center;

    padding-right:1pt;
    padding-left:1pt;
    border-right: 1px solid #6d6d6d7a;
}

.sentence-area{
    vertical-align:middle;
    border-spacing: 0 2pt;
    /* border-collapse: collapse; */

}

.annotation{
    text-align: center;
}

.annotation-line{
    height: 100%;
}
.annotation-cell{
    padding: 0;
    height: 100%;
    
}

[annotation-position="end"]{
    padding-right: 5pt;
}
[annotation-position="end"]>div{
    border-top-right-radius: 3pt;
    border-bottom-right-radius: 3pt;
}
[annotation-position="single"]{
    padding-left: 5pt;
    padding-right: 5pt;
}
[annotation-position="single"] > div{
    border-radius: 3pt;
}
[annotation-position="start"]{
    padding-left: 5pt;
}
[annotation-position="start"] > div{
    border-top-left-radius: 3pt;
    border-bottom-left-radius: 3pt;
}

.annotation-subtag{
    border-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
}

.token-elements{
    width: 100%;
}
.token-elements-row{
    width: 100%;
}

.token{
    text-align: center;
    padding: 4pt;
    border-radius: 5pt;
}

.token:hover{
    background-color:#42c4fc;
    transition: 0.1s;

}

.empty-place-ann, .empty-place-token{
    width: 5px;
}


.sentence-area{
    height: 100%;
    empty-cells: show;
}
.sentence-area > td {
    min-width: 10pt;
}



td{
    text-align: center;
}
.empty-place-token{
    min-width: 20px;
    height:20px;
    color: rgb(176, 255, 176);
    font-weight: 300;
    opacity: 0.8;
}
.empty-place-token:hover {
    text-align: center;
    transition: 1s;
    opacity: 1;
    font-weight: 900;
    color: var(--color-accept);

}
{%if not pos%}
[annotation-type = "pos"]{
    display: none;
}
{%endif%}
{%if not error%}
[annotation-type = "error"]{
    display: none;
}
{%endif%}

#annotation-create-form-area{
    display: none;
    position: absolute;
    top:0;
    z-index: 100;
    width: 100%;
    height:100%;
    padding-bottom: 30px;
    align-items: center;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.452);
}
#over-text{
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
.over-text-fields{
    display:inline-block;
    margin-left:-4px;
    width:230px;
}
.over-text-labels{
    text-align: center;
    width:230px;
    border-right: 1px #6d6d6d7a solid;
    border-bottom: 1px #6d6d6d00 solid;
    margin-left:-4px;
}
.over-text-labels:hover{
    background-color: #00bfe6;
    color: white;
    transition: 0.5s;
}

.meta-list{
        margin-left: 0;
        padding-left: 0;
}
.meta-row{
    list-style-type: none;
}

.over-text-menu{
    display: none;
    position: absolute;
    min-width:230px;
    top:55px;
    border: 1px solid #00bfe6;
    color: white;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:4px;
    padding-right:4px;
    border-bottom-left-radius: 10pt;
    border-bottom-right-radius: 10pt;
    margin-left:-4px;
}

#display-settings{
    margin-left:2px;
}

#display-settings>#display-settings-label:active + #text-options{
    display: block;
}

#text-info-field>#display-text-info-label:active + #text-info-menu{
    display: block;
}


#author-info-field>#display-author-info-label:active + #author-info-menu{
    display: block;
}


#meta-info-field>#display-meta-info-label:active + #meta-info-menu{
    display: block;
}


#assessment-info-field>#display-assessment-info-label:active + #assessment-info-menu{
    display: block;
}

#assessment-info-menu:hover, 
#meta-info-menu:hover,
#author-info-menu:hover,
#text-info-menu:hover,
#text-options:hover
{
    z-index: 2;
    display: block;
    background-color: #00bfe6;
}

.bad-meta-field{
    color:#ff2427;
}
.normal-meta-field{
    color:#ffe95e;
}
.update-button,.update-button:active, .update-button:hover {
    padding: 4pt;
    border:none;
    color:black;
    outline: none;
    background-color: #f1f1f1;
    border-radius: 4pt;
    margin-left: 35%;
    text-decoration: none;
}

#lang-change-area{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}
#lang-change-area>label{
    display: inline-block;
}
#lang-change-area>select{
    display: inline-block;
    padding: 4pt;
    border:none;
    color:black;
    outline: none;
    background-color: #f1f1f1;
    border-radius: 4pt;
}

#markup-change-area-table>tbody>tr>td{
    text-align: left;
}
[annotation-type = "2"]{
    display:none;
}
{%block annotation_edit_form_css%}{%endblock%}
{%endblock styles%}
</style>

{%block plugins%}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{%endblock plugins%}

<body>
{%block content%}   
{%if founded%}
{%if ann_right%}
<div id="annotation-create-form-area">
    {#Блок для формы созданя/редактирования аннотаций#}
    {%block annotation_edit_form_html%}{%endblock%}
</div>
{%else%}
<div id="annotation-create-form-area">
    {#Блок для формы созданя/редактирования аннотаций#}
    {%block annotation_watch_form_html%}{%endblock%}
</div>
{%endif%}
<div id = "over-text">
    <div id="display-settings" class="over-text-fields">
        <div id="display-settings-label" class = "over-text-labels">Настройки отображения</div>
            <div id = "text-options" class = 'over-text-menu'>
                <div id="lang-change-area" v-on:change="ChangeLang">
                    <label>Язык разметки:</label>
                    <select id="lang-select">
                        <option id="foreign-option" value="0">{{lang_name}}</option>
                        <option id="russian-option" value="1">Русский</option>
                    </select>
                </div>

            <div id = "markup-change-area">
                <table id="markup-change-area-table">
                    <tr>
                        <td>Разметка частей речи:</td>
                        <td><input type="checkbox" id="show-pos" v-on:click = "SwitchPos"></input></td>
                    </tr>
                    <tr>
                        <td>Разметка ошибок:</td>
                        <td><input type="checkbox" id="show-error" v-on:click = "SwitchError" checked></input></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <div id="text-info-field" class="over-text-fields">
        <div id="display-text-info-label", class = "over-text-labels">Информация о тексте</div>
        <div id = 'text-info-menu' class = 'over-text-menu'>
            <ul class = 'meta-list'>
                <li class = 'meta-row'>Название:
                    <font class = 'normal-meta-field'>{{text_info.text_name}}</font>
                </li>
                <li class = 'meta-row'>Тип текста: 
                    <font class = 'normal-meta-field'>{{text_info.text_type}}</font></li>
                <li class = 'meta-row'>Курс создания: 
                    <font class = 'normal-meta-field'>{{text_info.course}}</font></li>
                <li class = 'meta-row'>Дата создания: 
                    <font class = 'normal-meta-field'>{{text_info.create_date}}</font></li>
            </ul>
            {%if text_owner%}
            <!-- <button class = 'update-button'>Изменить</button> -->
            {%endif%}
        </div>
    </div>

    <div id="author-info-field" class="over-text-fields">
        <div id="display-author-info-label", class = "over-text-labels">Информация об авторе</div>
        <div id = 'author-info-menu' class = 'over-text-menu'>
            <ul class = 'meta-list'>
                <li class = 'meta-row'>Автор: 
                    <font class = 'normal-meta-field'>{{text_info.author_name}}</font></li>
                <li class = 'meta-row'>Группа: 
                    <font class = 'normal-meta-field'>{{text_info.group_number}}</font></li>
            </ul>
            {%if text_owner or teacher%}
            <a class = 'update-button' href = 'author_edit'>Изменить</a>
            {%endif%} 
        </div>
    </div>

    <div id="meta-info-field" class="over-text-fields">
        <div id="display-meta-info-label", class = "over-text-labels">Метаданные</div>
        <div id = 'meta-info-menu' class = 'over-text-menu'>
            <ul class = 'meta-list'>
                <li class = 'meta-row'>Эмоциональное состояние: 
                    <font class = 'normal-meta-field'>{{text_info.emotional}}</font></li>
                <li class = 'meta-row'>Средство написания: 
                    <font class = 'normal-meta-field'>{{text_info.write_tool}}</font></li>
                <li class = 'meta-row'>Место написания: 
                    <font class = 'normal-meta-field'>{{text_info.write_place}}</font></li>
                <li class = 'meta-row'>Уровень знания языка: 
                    <font class = 'normal-meta-field'>{{text_info.education_level}}</font></li>
                <li class = 'meta-row'>Самооценивание: 
                    <font class = 'normal-meta-field'>{{text_info.self_rating}}</font></li>
                <li class = 'meta-row'>Оценка задания студентом: 
                    <font class = 'normal-meta-field'>{{text_info.student_assessment}}</font></li>
            </ul>
            {%if text_owner%}
            <a class = 'update-button' href = 'meta_edit'>Изменить</a>
            {%endif%}
        </div>
    </div>

    <div id="assessment-info-field" class="over-text-fields">
        <div id="display-assessment-info-label", class = "over-text-labels">Проверка работы</div>
        <div id = 'assessment-info-menu' class = 'over-text-menu'>
            <ul class = 'meta-list'>
                {%if text_info.assessment%}
                <li class = 'meta-row'>Оценка: 
                    <font class = 'normal-meta-field'>{{text_info.assessment}}</font></li>
                <li class = 'meta-row'>Проверяющий: 
                    <font class = 'normal-meta-field'>{{text_info.teacher_name}}</font></li>
                {%else%}
                <li class = 'meta-row'>Оценка: 
                    <font class = 'bad-meta-field'>Отсутствует</font></li>
                {%endif%}
                {%if text_info.pos_check%}
                <li class = 'meta-row'>Проверка POS разметки: 
                    <font class = 'normal-meta-field'>Проверено</font></li>
                <li class = 'meta-row'>Проверил POS разметку: 
                    <font class = 'normal-meta-field'>{{text_info.pos_check_name}}</font></li>
                {%else%}
                <li class = 'meta-row'>Проверка POS разметки: 
                    <font class = 'bad-meta-field'>Отсутствует</font></li>
                {%endif%}

                {%if text_info.error_check%}
                <li class = 'meta-row'>Проверка разметки ошибок: 
                    <font class = 'normal-meta-field'>Проверено</font></li>
                <li class = 'meta-row'>Проверил разметку ошибок: 
                    <font class = 'normal-meta-field'>{{text_info.error_check_name}}</font></li>
                {%else%}
                <li class = 'meta-row'>Проверка разметки ошибок: 
                    <font class = 'bad-meta-field'>Отсутствует</font>
                </li>
                {%endif%}
            </ul>
            {%if ann_right%}

            <a class = 'update-button' href = 'asses_edit'>Изменить</a>
            {%endif%}
        </div>
        </div>
    </div>
</div>
<div class = "text-place">
<table class = "text-area"></table>
</div>
{%else%}
<div id="found-text-error">Текст не найден</div>
{%endif%}
{%endblock content%}
{%block script%}
<script>
document.body.onmousedown = function(eventData) {
if (eventData.button === 0) {
    key_down=true}
}  
document.body.onmouseup = function(eventData) {
if (eventData.button === 0) {
    key_down=false}
}

{%if ann_right%}
{#режим редактирование аннотации (1-создание, 2-обновление)#} 
var selected_tag = 0 //Удалить
var get_classification_url = "http://127.0.0.1:8000/show_text/api/get_classification"
var add_empty_token_url = 'http://127.0.0.1:8000/show_text/api/add_empty_token'
var selected_tokens = []
{%endif%}
var markups_info = new Map()
var text_id = {{text_id}}
var language = 0
var get_text_url = "http://127.0.0.1:8000/show_text/api/get_text"
var edit_ann_url = "http://127.0.0.1:8000/show_text/api/annotation_edit"

var key_down = false
var text_response = null
var classification_response = null

{#Используемые функции#}
{%block functions%}{%endblock%}

{%if ann_right%}
{#Создание формы#}
{%block annotation_edit_form_script%}{%endblock%}
{%endif%}

{%if ann_right%}

get_classification()
{%endif%}
{%block get_text%}{%endblock%}
get_text()
{%block bone_funcs%}{%endblock%}
{%if ann_right%}
var save_button = new Vue({
    el:"#form-save-button",
    methods:{
        Save: function(){sent_annotation_info(edit_ann_url)
    }
}
})
var save_button = new Vue({
    el:"#form-delete-button",
    methods:{
        Delete: function(){delete_annotation_info(edit_ann_url)
    }
}
})
{%endif%}
var annotation_create_form_close = new Vue({
    el: "#annotation-create-form-close",
    methods :{
        CloseAnnCreateForm: close_ann_create_form
    }
})
var lang_changers = new Vue({
    el:"#lang-change-area",
    methods:{
        ChangeLang:reset_language
    }
})
var switchpos = new Vue({
    el:"#show-pos",
    methods:{
        SwitchPos: function(event){
            var html_tags = document.querySelectorAll('[annotation-type = "2"]')
            var display_value = "none"
            if(event.currentTarget.checked){
                display_value = "block"
            }
            for(var i=0; i<html_tags.length;i++){
                html_tags[i].style.display = display_value
            }

        }
    }
})
var switcherr = new Vue({
    el:"#show-error",
    methods:{
        SwitchError: function(event){
            var html_tags = document.querySelectorAll('[annotation-type = "1"]')
            var display_value = "none"
            if(event.currentTarget.checked){
                display_value = "block"
            }
            for(var i=0; i<html_tags.length;i++){
                html_tags[i].style.display = display_value
            }

        }
    }
})
</script>
{%endblock script%}
</body>

</html>

