
{%extends "base.html"%}
{%block styles%}
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }
      body {
        overflow-y: scroll; /* добавить полосу прокрутки */ 
      }
#found-text-error{
    color: #ec0404;
    font-size: large;
    font-weight: 900;
}

.text-module{
    background-color: gray;
    height: 100%;
    width: 100%;
}
.header-area>div{
    display: inline;
    font-family: 'Montserrat', sans-serif;
}
.header-name{
    color: rgba(13, 202, 240, 0.8);
    font-size: 20pt;
}
.header{
    font-size: 18pt;
}

.text-area{
    width:98.9vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse; 
    border: 1px solid rgba(109, 109, 109, 0.479);
}

.text-row{
    /* border-bottom: 1px solid rgba(109, 109, 109, 0.479); */
    user-select: none;
}
.sentence{
    max-width: 70vw;
    border-bottom: 1px solid rgba(109, 109, 109, 0.479);
    overflow-x: scroll;
    scroll-behavior:smooth;
}
.sentence::-webkit-scrollbar {
    height: 5px;
    background-color: #f1f1f1;
}
.sentence::-webkit-scrollbar-thumb {
    background-color: #5ce4ff8f;
}
.sentence:hover::-webkit-scrollbar-thumb{
    background-color: #00bfe6;
    transition: 1s;

}

.text-row:hover > .sentence-number{
    color:black;
}

.tools-column{
    width: 20px;
    padding-right:10pt;
}
.tools-column{
    background-color: #f8f8f8;
    padding-right: 2pt;
    padding-left:5pt;
}
.tools-column > div{
    display: block;
    font-weight: 600;
    font-size: large;
    text-align: center;
    visibility: hidden;
    padding: 3pt;
}
.tools-button>svg{
    border-radius: 50%;
    transition: 0.1s linear;
    opacity:0.5;
}
.tools-button:hover>svg{
    opacity:1;
    transition: 0.2s;
}
.create-annotation-button>svg{
    fill:var(--color-primary);
}

.delete-annotation-button>svg{
    fill:var(--color-decline);
}

.sentence-number{
    color: rgba(109, 109, 109, 0.479);
    text-align: center;

    padding-right:1pt;
    padding-left:1pt;
    border-right: 1px solid #6d6d6d7a;
}

.sentence-area{
    vertical-align:middle;
    border-spacing: 0 2pt;
    /* border-collapse: collapse; */

}

.annotation{
    text-align: center;
}

.annotation-line{
    height: 100%;
}
.annotation-cell{
    padding: 0;
    height: 100%;
    
}

[annotation-position="end"]{
    padding-right: 5pt;
}
[annotation-position="end"]>div{
    border-top-right-radius: 3pt;
    border-bottom-right-radius: 3pt;
}
[annotation-position="single"]{
    padding-left: 5pt;
    padding-right: 5pt;
}
[annotation-position="single"] > div{
    border-radius: 3pt;
}
[annotation-position="start"]{
    padding-left: 5pt;
}
[annotation-position="start"] > div{
    border-top-left-radius: 3pt;
    border-bottom-left-radius: 3pt;
}

.annotation-subtag{
    border-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
}

.token-elements{
    width: 100%;
}
.token-elements-row{
    width: 100%;
}

.token{
    text-align: center;
    padding: 4pt;
    border-radius: 5pt;
}

.token:hover{
    background-color:#42c4fc;
    transition: 0.1s;

}

.empty-place-ann, .empty-place-token{
    width: 5px;
}


.sentence-area{
    height: 100%;
    empty-cells: show;
}
.sentence-area > td {
    min-width: 10pt;
}



td{
    text-align: center;
}
.empty-place-token{
    min-width: 20px;
    height:20px;
    color: rgb(176, 255, 176);
    font-weight: 300;
    opacity: 0.8;
}
.empty-place-token:hover {
    text-align: center;
    transition: 1s;
    opacity: 1;
    font-weight: 900;
    color: var(--color-accept);

}
{%if not pos%}
[annotation-type = "pos"]{
    display: none;
}
{%endif%}
{%if not error%}
[annotation-type = "error"]{
    display: none;
}
{%endif%}

#annotation-create-form-area{
    display: none;
    position: absolute;
    top:0;
    z-index: 100;
    width: 100%;
    height:100%;
    padding-bottom: 30px;
    align-items: center;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.452);
}
#text-path{
    color: var(--color-primary);
    padding:0.5rem 1rem;
    font-size: 18pt;
    background-color: rgba(var(--bs-light-rgb));
    width: 100%;
    position: inherit;
    border-bottom: 1px #d7d7d7 solid;
}
#over-text{
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    border-bottom: 1px #6d6d6d7a solid;
}

.mbtn{
    border-radius: 0;
    background-color: white;
    border-right: 1px #d7d7d7 solid;
    margin-left: -2px;
    margin-right: -2px;
    color: var(--color-primary);
}
.mfield{
    text-align:left;
}
.mflabel{
    font-weight:bold;
}
.mbtn:hover{
    background-color: var(--color-primary);
    color: white;
    transition: 0.8s;
}
.update-button{
    width: 100%;
    background-color: white;
    color:var(--color-primary);
    border: 1px var(--color-primary) solid;
    border-radius: 0px;
}
.update-button:hover{
    background-color: var(--color-primary);
    color:white;
    transition: 0.8s;
}
.del-button{
    width: 100%;
    background-color: white;
    color:var(--color-warning);
    border: 1px var(--color-warning) solid;
    border-radius: 0px;
}
.del-button:hover{
    background-color: var(--color-warning);
    color:white;
    transition: 0.8s;
}

#display-settings{
    margin-left:2px;
}

#display-settings>#display-settings-label:active + #text-options{
    display: block;
}

#text-info-field>#display-text-info-label:active + #text-info-menu{
    display: block;
}


#author-info-field>#display-author-info-label:active + #author-info-menu{
    display: block;
}


#meta-info-field>#display-meta-info-label:active + #meta-info-menu{
    display: block;
}


#assessment-info-field>#display-assessment-info-label:active + #assessment-info-menu{
    display: block;
}

#auto-degree-field>#display-auto-degree-label:active + #auto-degree-menu{
    display: block;
}

#assessment-info-menu:hover,
#auto-degree-menu:hover, 
#meta-info-menu:hover,
#author-info-menu:hover,
#text-info-menu:hover,
#text-options:hover
{
    z-index: 2;
    display: block;
    background-color: #00bfe6;
}



#lang-change-area>label{
    display: inline-block;
}
#lang-change-area>select{
    display: inline-block;
    padding: 4pt;
    border:none;
    color:black;
    outline: none;
    background-color: #f1f1f1;
    border-radius: 4pt;
}

#markup-change-area-table>tbody>tr>td{
    text-align: left;
}

[annotation-type = "2"]{
    display:none;
}
{%block annotation_edit_form_css%}{%endblock%}
{%endblock styles%}
</style>

{%block plugins%}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{%endblock plugins%}

<body>
{%block content%}   
{%if founded%}
{%if ann_right%}
<div id="annotation-create-form-area">
    {#Блок для формы созданя/редактирования аннотаций#}
    {%block annotation_edit_form_html%}{%endblock%}
</div>
{%else%}
<div id="annotation-create-form-area">
    {#Блок для формы созданя/редактирования аннотаций#}
    {%block annotation_watch_form_html%}{%endblock%}
</div>
{%endif%}
<div id = "text-path">
    {{lang_name}}/{{text_info.text_type}}/{{text_info.text_name}}
</div>

<!--Меню текста-->
<div id = "over-text btn-group">

    <!--Настрйка вида-->
    <button type="button" class="btn shadow-none mbtn dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Вид
    </button>
    <ul class="dropdown-menu">
    <li><h6 class="dropdown-header">Язык разметки</h6></li>
        <li>
            <div class="dropdown-item-text mfield" id = "lang-change-area" v-on:change="ChangeLang">
                <select id="lang-select">
                    <option id="foreign-option" value="0">{{lang_name}}</option>
                    <option id="russian-option" value="1">Русский</option>
                </select>
            </div>
        </li>
        <li><h6 class="dropdown-header">Части речи</h6></li>
        <li>
        <div class="dropdown-item-text mfield">
        <div class="form-check form-switch">
           <input class="form-check-input" type="checkbox" id="show-pos" v-on:click = "SwitchPos">
        </div>
    </div>
        </li>
        <li><h6 class="dropdown-header">Ошибки</h6></li>
        <li>
            <div class="dropdown-item-text mfield">
                <div class="form-check form-switch">
                   <input class="form-check-input" type="checkbox" id="show-error" v-on:click = "SwitchError" checked>
                    <!-- <label class = "mflabel">Ошибки</label> -->
                </div>
            </div>
        </li>
      </ul>

      <!--Информация о тексте-->
      <button type="button" class="btn shadow-none mbtn dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Текст
    </button>
    <ul class="dropdown-menu">
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Курс создания:  </label>
                {{text_info.course}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Дата создания:  </label>
                {{text_info.create_date}}
            </div>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <div class="dropdown-item-text mfield">
                <a href = 'show_raw' class="btn shadow-none update-button">Исходный текст</a>
            </div>
        </li>
        {%if superuser%}
        <li>
            <div class="dropdown-item-text mfield">
                <form method="post" novalidate action={% url 'delete_text' %} >
                    <input type="hidden" name="language" value="{{ language }}">
                    <input type="hidden" name="text_type" value="{{ text_type }}">
                    <input type="hidden" name="text_id" value="{{ text_id }}">
                    <button type="submit" class="btn shadow-none del-button" id="del-text-btn" style="border-radius:0;" onclick="return confirm('Удалить текст?')">Удалить текст</button>
                </form>
            </div>
        </li>
      {%endif%} 
      </ul>

    <!--Информация об авторе-->
    <button type="button" class="btn shadow-none mbtn dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Автор
    </button>
    <ul class="dropdown-menu">
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Имя:  </label>
                {{text_info.author_name}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Группа:  </label>
                {{text_info.group_number}}
            </div>
        </li>
        {%if text_owner or teacher%}
        <li><hr class="dropdown-divider"></li>
        <li>
            <div class="dropdown-item-text mfield">
                <a href = 'author_edit' class="btn shadow-none update-button">Изменить</a>
            </div>
        </li>
        {%endif%}
    </ul>

    <!--Метаданные-->
    <button type="button" class="btn shadow-none mbtn dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Метаданные
    </button>
    <ul class="dropdown-menu">
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Эмоциональное состояние:  </label>
                {{text_info.emotional}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Средство написания:  </label>
                {{text_info.write_tool}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Место написания:   </label>
                {{text_info.write_place}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Уровень знания языка:  </label>
                {{text_info.education_level}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Самооценивание:   </label>
                {{text_info.self_rating}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Оценка задания студентом:  </label>
                {{text_info.student_assessment}}
            </div>
        </li>
        {%if text_owner%}
        <li><hr class="dropdown-divider"></li>
        <li>
            <div class="dropdown-item-text mfield">
                <a href = 'meta_edit' class="btn shadow-none update-button">Изменить</a>
            </div>
        </li>
        {%endif%}
    </ul>

    <!--Проверка работы-->
    <button type="button" class="btn shadow-none mbtn dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Проверка
    </button>
    <ul class="dropdown-menu">
        <li><h6 class="dropdown-header">Оценка работы</h6></li>
        {%if text_info.assessment%}
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Оценка:  </label>
                {{text_info.assessment}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Полнота:  </label>
                {{text_info.completeness}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Структура:  </label>
                {{text_info.structure}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Связность:  </label>
                {{text_info.coherence}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Проверяющий:  </label>
                {{text_info.teacher_name}}
            </div>
        </li>
        {%else%}
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Оценка:  </label>
                Не указано
            </div>
        </li>
        {%endif%}

        <li><h6 class="dropdown-header">Частеречная разметка</h6></li>
        {%if text_info.pos_check%}
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Статус:  </label>
                <font style = "color: var(--color-accept);">Проверено</font>
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Проверяющий:  </label>
                {{text_info.pos_check_name}}
            </div>
        </li>
        {%else%}
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Статус:  </label>
                <font style = "color: var(--color-warning);">Не проверено</font>
            </div>
        </li>
        {%endif%}

        <li><h6 class="dropdown-header">Разметка ошибок</h6></li>
        {%if text_info.error_check%}
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Статус:  </label>
                <font style = "color: var(--color-accept);">Проверено</font>
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Проверяющий:  </label>
                {{text_info.error_check_name}}
            </div>
        </li>
        {%else%}
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Статус:  </label>
                <font style = "color: var(--color-warning);">Не проверено</font>
            </div>
        </li>
        {%endif%}
        {%if ann_right%}
        <li><hr class="dropdown-divider"></li>
        <li>
            <div class="dropdown-item-text mfield">
                <a href = 'asses_edit' class="btn shadow-none update-button">Изменить</a>
            </div>
        </li>
        {%endif%}
    </ul>

    <!--Автооценка-->
    {% if auto_degree%}
    <button type="button" class="btn shadow-none mbtn dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Автооценка
    </button>
    <ul class="dropdown-menu">
        <li><h6 class="dropdown-header">Грамматика</h6></li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Степень 1:  </label>
                {{auto_grammatik.0}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Степень 2:  </label>
                {{auto_grammatik.1}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Степень 3:  </label>
                {{auto_grammatik.2}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Оценка:  </label>
                {{auto_grammatik.3}}
            </div>
        </li>

        <li><h6 class="dropdown-header">Лексика</h6></li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Степень 1:  </label>
                {{auto_lexik.0}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Степень 2:  </label>
                {{auto_lexik.1}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Степень 3:  </label>
                {{auto_lexik.2}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Оценка:  </label>
                {{auto_lexik.3}}
            </div>
        </li>

        <li><h6 class="dropdown-header">Орфография и пунктуация</h6></li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Степень 1:  </label>
                {{auto_orth.0}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Степень 2:  </label>
                {{auto_orth.1}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Степень 3:  </label>
                {{auto_orth.2}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Оценка:  </label>
                {{auto_orth.3}}
            </div>
        </li>

        <li><h6 class="dropdown-header">Подсчёт ошибок</h6></li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Дискурс:  </label>
                {{count_dis}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Пропуски:  </label>
                {{count_skip}}
            </div>
        </li>
        <li>
            <div class="dropdown-item-text mfield">
                <label class = "mflabel">Лишние элементы:  </label>
                {{count_extra}}
            </div>
        </li>
    </ul>
    
    {%endif%}
</div>
<div class = "text-place">
<table class = "text-area"></table>
</div>
{%else%}
<div id="found-text-error">Текст не найден</div>
{%endif%}
{%endblock content%}
{%block script%}
<script>
document.body.onmousedown = function(eventData) {
if (eventData.button === 0) {
    key_down=true}
}  
document.body.onmouseup = function(eventData) {
if (eventData.button === 0) {
    key_down=false}
}

{%if ann_right%}
{#режим редактирование аннотации (1-создание, 2-обновление)#} 
var selected_tag = 0 //Удалить
var get_classification_url = "{% url 'get_classification' %}"
var add_empty_token_url = "{% url 'add_empty_token' %}"
var selected_tokens = []
{%endif%}
var markups_info = new Map()
var text_id = {{text_id}}
var language = 0
var get_text_url = "{%url 'get_text' %}"
var edit_ann_url = "{%url 'annotation_edit' %}"

var key_down = false
var text_response = null
var classification_response = null

{#Используемые функции#}
{%block functions%}{%endblock%}

{%if ann_right%}
{#Создание формы#}
{%block annotation_edit_form_script%}{%endblock%}
{%endif%}

{%if ann_right%}

get_classification()
{%endif%}
{%block get_text%}{%endblock%}
get_text()
{%block bone_funcs%}{%endblock%}
{%if ann_right%}
var save_button = new Vue({
    el:"#form-save-button",
    methods:{
        Save: function(){sent_annotation_info(edit_ann_url)
    }
}
})
var save_button = new Vue({
    el:"#form-delete-button",
    methods:{
        Delete: function(){delete_annotation_info(edit_ann_url)
    }
}
})
{%endif%}
var annotation_create_form_close = new Vue({
    el: "#annotation-create-form-close",
    methods :{
        CloseAnnCreateForm: close_ann_create_form
    }
})
var lang_changers = new Vue({
    el:"#lang-change-area",
    methods:{
        ChangeLang:reset_language
    }
})
var switchpos = new Vue({
    el:"#show-pos",
    methods:{
        SwitchPos: function(event){
            var html_tags = document.querySelectorAll('[annotation-type = "2"]')
            var display_value = "none"
            if(event.currentTarget.checked){
                display_value = "block"
            }
            for(var i=0; i<html_tags.length;i++){
                html_tags[i].style.display = display_value
            }

        }
    }
})
var switcherr = new Vue({
    el:"#show-error",
    methods:{
        SwitchError: function(event){
            var html_tags = document.querySelectorAll('[annotation-type = "1"]')
            var display_value = "none"
            if(event.currentTarget.checked){
                display_value = "block"
            }
            for(var i=0; i<html_tags.length;i++){
                html_tags[i].style.display = display_value
            }

        }
    }
})
</script>
{%endblock script%}
</body>

</html>

