{%extends "text_show.html"%}
{#Используемые JS-функции#}
{%block functions%}



function re_built_classification(response, lang){
    var tags_field = document.getElementById("tag-type-create-form-classification")
    while (tags_field.firstChild) {
        tags_field.removeChild(tags_field.firstChild);
    }
    var spoilers = []
    var selectors = []
    var tags = response.data.tags
    for(var i=0; i<tags.length; i++){
        var tag =  document.createElement('div')
        tag.setAttribute('class','classification-area')
        tag.setAttribute('area-tag-id',`${tags[i].tag_id}`)
        var info = document.createElement('div')
        info.setAttribute('class','classifiation-tag-info')

        var selector = document.createElement('div')
        selector.setAttribute('class','classification-tag-name')
        selector.setAttribute('name-tag-id',`${tags[i].tag_id}`)
        selector.setAttribute('name-tag-type',`${tags[i].tag_type}`)
        selector.setAttribute('name-tag-color',`${tags[i].tag_color}`)
        selector.setAttribute('style',`background-color: ${tags[i].tag_color};`)
        if (!String(tags[i].tag_text_abbrev).includes('#IGNORE#')){
            selector.setAttribute('v-on:click','SelectorClassificationSelect');
        }
        var parent = document.querySelector(`[content-tag-id = "${tags[i].parent_id}"]`)
        if(lang == 0){
            selector.innerHTML = tags[i].tag_text
        }
        else{
            selector.innerHTML = tags[i].tag_text_russian
        }
        if(tags[i].isspoiler){
            var spoiler = document.createElement('div')
            spoiler.setAttribute('class','classification-tag-spoiler')
            spoiler.setAttribute('spoiler-tag-id',`${tags[i].tag_id}`)
            spoiler.setAttribute('spoiler-condition','0')
            spoiler.setAttribute('v-on:click','SpoilerClassificationSelect')
            spoiler.innerHTML = '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>'

            var content = document.createElement('div')
            content.setAttribute('class','classification-tag-content')
            content.setAttribute('content-tag-id',`${tags[i].tag_id}`)
            
            info.appendChild(spoiler)
            info.appendChild(selector)
            tag.appendChild(info)
            tag.appendChild(content)
            parent.appendChild(tag)
            spoilers.push(new Vue({
                el: `[spoiler-tag-id = "${tags[i].tag_id}"]`,
                methods:{
                    SpoilerClassificationSelect: select_classification_spoiler
                }
            }))
        }
        else{
            info.appendChild(selector)
            tag.appendChild(info)
            parent.appendChild(tag)
        }
        selectors.push(new Vue({
            el:`[name-tag-id = "${tags[i].tag_id}"]`,
            methods:{
                SelectorClassificationSelect: select_classification_selector
            }
        }))
    }
}
function re_built_text(response, lang){
    var sentences_info = response.data.sentences
    var main_table = document.getElementsByClassName("text-area")[0]
    while (main_table.firstChild) {
        main_table.removeChild(main_table.firstChild);
    }
    selected_tokens = []
    var tokens_ids = []
    var empty_trigger_id = 0
    for(var sent_index = 0; sent_index<sentences_info.length; sent_index++){

        var text_row = document.createElement('tr')
        text_row.setAttribute('class','text-row')

        var tools_column = document.createElement('td')
        tools_column.setAttribute('class','tools-column')
        tools_column.setAttribute('link-sent',sent_index)
        {%if ann_right%}
            var create_annotation = document.createElement('div')
            create_annotation.setAttribute('class','create-annotation-button tools-button')
            create_annotation.setAttribute('title','Создать аннотацию')
            create_annotation.setAttribute('v-on:click','CreateAnnotation')
            create_annotation.setAttribute('create-button-id',`${sent_index}`)
            create_annotation.innerHTML ='<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/></svg>'
            
            var delete_selection = document.createElement('div')
            delete_selection.setAttribute('class','delete-annotation-button tools-button')
            delete_selection.setAttribute('title','Снять выделение')
            delete_selection.setAttribute('v-on:click','DeleteSelection')
            delete_selection.setAttribute('delete-button-id',`${sent_index}`)
            delete_selection.innerHTML =  '<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/></svg>'


            tools_column.appendChild(delete_selection)
            tools_column.appendChild(create_annotation)
        {%endif%}
        var sent_num_el = document.createElement('td')
        sent_num_el.setAttribute('class','sentence-number')
        sent_num_el.innerHTML = sent_index+1

        text_row.appendChild(tools_column)
        text_row.appendChild(sent_num_el)

        var sentence = document.createElement('td')
        sentence.setAttribute('class','sentence')
        
        var sentence_area = document.createElement('table')
        sentence_area.setAttribute('sentence-order',sent_index)
        sentence_area.setAttribute('class','sentence-area')

        for(var ann_line_index = 0; ann_line_index<sentences_info[sent_index].annotations.length;ann_line_index++){
            var line_number = sentences_info[sent_index].annotations.length - ann_line_index - 1
            var tokens_markups = sentences_info[sent_index].annotations[line_number]
            var ann_line = document.createElement('tr')
            ann_line.setAttribute("class","annotation-line")

            for(var tm_index = 0; tm_index <tokens_markups.length; tm_index++){
                var mrk_info = tokens_markups[tm_index]
                var annotation_cell = document.createElement('td')
                annotation_cell.setAttribute('class','annotation-cell')
                var token_markup = document.createElement('div')
                token_markup.setAttribute('class', 'annotation-empty')
                if(mrk_info.isann){
                    token_markup = document.createElement('div')
                    if(mrk_info.display){
                        if(response.data.markup_info[mrk_info.ann_id].tag_text_abbrev){
                            token_markup.innerHTML =  response.data.markup_info[mrk_info.ann_id].tag_text_abbrev
                        }
                        else{
                            if( lang == 0){
                                token_markup.innerHTML =response.data.markup_info[mrk_info.ann_id].tag_text
                            }
                            else {
                                token_markup.innerHTML = response.data.markup_info[mrk_info.ann_id].tag_text_russian
                            }
                        }
                    }
                    token_markup.setAttribute('class','annotation-subtag')
                    token_markup.setAttribute('annotation-id',mrk_info.ann_id)
                    token_markup.setAttribute('data-toggle', 'tooltip')
                    if(lang==0){
                        token_markup.setAttribute(
                            'title',String(response.data.markup_info[mrk_info.ann_id].tag_text)+'\n'+
                                        'Причина:  '+String(mrk_info.reason)+'\n'+
                                        'Грубость:  '+String(mrk_info.grade)+'\n'+
                                        'Исправление:  '+String(mrk_info.correct)+'\n'+
                                        'Комментарий:  '+String(mrk_info.comment)+'\n')
                    }
                    else{
                        token_markup.setAttribute(
                            'title',String(response.data.markup_info[mrk_info.ann_id].tag_text_russian)+'\n'+
                            'Причина:  '+String(mrk_info.reason)+'\n'+
                            'Грубость:  '+String(mrk_info.grade)+'\n'+
                            'Исправление:  '+String(mrk_info.correct)+'\n'+
                            'Комментарий:  '+String(mrk_info.comment)+'\n')
                    }
                    token_markup.setAttribute('annotation-type',response.data.markup_info[mrk_info.ann_id].markup_type)
                    token_markup.setAttribute('ann-color',response.data.markup_info[mrk_info.ann_id].tag_color)
                    token_markup.setAttribute('token-markup-id', mrk_info.token_markup_id)
                    token_markup.setAttribute('child-token-id',mrk_info.token_id)
                    token_markup.setAttribute("v-on:mouseover","onHoverAnnotation") 
                    token_markup.setAttribute("v-on:mouseleave","outHoverAnnotation")
                    token_markup.setAttribute("v-on:click","ModifyAnnotation")
                    token_markup.setAttribute("style",`background-color: ${response.data.markup_info[mrk_info.ann_id].tag_color};`)

                    annotation_cell.setAttribute('annotation-position',mrk_info.ann_position)
                }
                annotation_cell.appendChild(token_markup)
                ann_line.appendChild(annotation_cell)
                }
                sentence_area.appendChild(ann_line)
            }

                var tokens_line = document.createElement('tr')
                tokens_line.setAttribute('class','tokens-line')

                for(var token_index = 0; token_index<sentences_info[sent_index].tokens.length; token_index++){
                    var token_column = document.createElement('td')
                    token_column.setAttribute('class','token-column')
                    
                    var token_elements = document.createElement('tabel')
                    token_elements.setAttribute('class','token-elements')

                    var token_elements_row = document.createElement('tr')
                    token_elements_row.setAttribute('class', 'token-elements-row')

                    var token_info = sentences_info[sent_index].tokens[token_index]

                    if(token_index == 0){
                        var left_append = document.createElement('td')
                        {%if ann_right%}
                        left_append.innerHTML = '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/></svg>'
                        left_append.setAttribute('class','empty-place-token')
                        left_append.setAttribute('parent-token',token_info.token_id)
                        left_append.setAttribute('position','left')
                        left_append.setAttribute('title','Добавить пустой токен')
                        left_append.setAttribute('trigger-id',empty_trigger_id)
                        left_append.setAttribute('v-on:click','addToken')
                        token_elements_row.appendChild(left_append)
                        empty_trigger_id+=1
                        {%endif%}
                    }

                    var token_cell = document.createElement('td')
                    var token = document.createElement('div')
                    token_cell.setAttribute('class','token_cell')

                    if(token_info.text.length == 0){
                        token.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" id="Isolation_Mode" data-name="Isolation Mode" viewBox="0 0 24 24" width="2em" height="1em"><circle cx="21.517" cy="12.066" r="2.5"/><circle cx="12" cy="12" r="2.5"/><circle cx="2.5" cy="12" r="2.5"/></svg>'
                        token.setAttribute('title','Пустой токен')
                        token.setAttribute('style','color: black;')
                    }
                    else{
                        token.innerHTML = token_info.text
                    }
                    token.setAttribute('class','token')
                    token.setAttribute('v-on:click','SelectToken')
                    token.setAttribute('v-on:mouseover','AsTextSelectToken')
                    token.setAttribute('v-on:mouseleave','AsTextSelectToken')
                    token.setAttribute('token-id',token_info.token_id)
                    token.setAttribute('token-sent-order', token_info.sent_order_number)
                    tokens_ids.push(token_info.token_id)
                    
                    token_cell.appendChild(token)
                    token_elements_row.appendChild(token_cell)
                    
                    if(token_info.text.length > 0){
                    var right_append = document.createElement('td')
                    {%if ann_right%}
                    right_append.innerHTML = '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/></svg>'
                    right_append.setAttribute('class','empty-place-token')
                    right_append.setAttribute('parent-token',token_info.token_id)
                    right_append.setAttribute('position','right')
                    right_append.setAttribute('title','Добавить пустой токен')
                    right_append.setAttribute('trigger-id',empty_trigger_id)
                    right_append.setAttribute('v-on:click','addToken')
                    empty_trigger_id += 1
                    {%endif%}
                    token_elements_row.appendChild(right_append)
                    }
                    
                    token_elements.appendChild(token_elements_row)
                    token_column.appendChild(token_elements)
                    tokens_line.appendChild(token_column)
                }   
                
                sentence_area.appendChild(tokens_line)
                sentence.appendChild(sentence_area)
                text_row.appendChild(sentence)
                main_table.appendChild(text_row)
            }
            let ann_visible = []
            for(var i = 0; i < response.data.token_markups_ids.length; i++){
                ann_visible.push( new Vue({
                        el:  `[token-markup-id="${response.data.token_markups_ids[i]}"]`,
                        methods: {
                        onHoverAnnotation: select_ann,
                        outHoverAnnotation: unselect_ann,
                        ModifyAnnotation:modify_annotation_selection
                    }
                    }))
            }
            
            let add_elements = []
            let selectable_tokens = []
            let annotation_creators = []
            let selection_deleters = []

            {%if ann_right%}
            {#Добавление пустого токена#}
            function add_token(event){
            var token_id = event.currentTarget.getAttribute('parent-token')
            var position = event.currentTarget.getAttribute('position')
            axios({
                url:add_empty_token_url,
                method: 'POST',
                data:{'parent_token': token_id, 'append_position':position},
                headers: {"X-CSRFToken": "{{csrf_token}}"}
            }).then(function (response){
                get_text();
            }).catch(function (error) {
                    // your action on error success
                    });
            }
            for(var i = 0; i<empty_trigger_id; i++){
                add_elements.push(
                    new Vue({
                        el:`[trigger-id = "${i}"]`,
                        methods:{
                            addToken:add_token
                        }
                    }))
            }
            for(var i =0; i<tokens_ids.length; i++){
                selectable_tokens.push(new Vue({
                    el:`[token-id = "${tokens_ids[i]}"]`,
                    methods:{
                        SelectToken: select_token,
                        AsTextSelectToken: select_token_moving,
                    }
                }))
            }
            for(var i =0; i<sentences_info.length;i++){
            annotation_creators.push(new Vue({
                el: `[create-button-id = "${i}"]`,
                methods:{
                    CreateAnnotation: create_annotation_selection
                        }
                    }))
            selection_deleters.push(new Vue({
                el:`[delete-button-id = "${i}"]`,
                methods:{
                    DeleteSelection: delete_tokens_selection
                    }
                }))
            }
        {%endif%}
}

function reset_select_element(selectElement) {
    selectElement.selectedIndex = 0;
}
function reset_errors_fields(hide_fields){
    if(hide_fields){
        var err_fields = document.getElementsByClassName("only-errors")
        for(var i=0; i<err_fields.length;i++){
            err_fields[i].parentNode.style.display = "none"
            if(err_fields[i].tagName=="SELECT"){
                err_fields[i].selectedIndex = 0;
            }
            else{
                err_fields[i].value = ""
            }
    }
    
    }
}
function set_annotation_form_to_basic(){
    if(selected_tag>0){
        var old_tag = document.querySelector(`[name-tag-id = "${selected_tag}"]`)
        old_tag.style.backgroundColor = old_tag.getAttribute('name-tag-color')
        old_tag.style.border = "1pt solid white"
        old_tag.style.color = ""
        selected_tag = 0
        }
        var tag_contents = document.getElementsByClassName("classification-tag-content")
        for(var i=0; i<tag_contents.length;i++){
            tag_contents[i].style.display = "none"
            var spoiler = tag_contents[i].parentNode.getElementsByClassName("classification-tag-spoiler")[0]
            spoiler.setAttribute("spoiler-condition","0")
            spoiler.innerHTML = '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>'
        }
        document.getElementById("annotation-create-form-data").style.display = "none"
}
{%if ann_right%}
function close_ann_create_form(event){
    document.getElementById("tag-type-selected-tag").innerHTML = ""
    document.getElementById("tag-type-selected-tag").style.display = "none"
    document.getElementById("annotation-create-form-area").style.display = "none"
    document.getElementById("form-delete-button").style.display = "none"
    document.getElementById("annotation-create-form-data").reset()
    document.getElementById("creator-name").innerHTML = ""
    document.getElementById("creator-field").style.display = "none"
    set_annotation_form_to_basic();
}
{%endif%}

function select_ann(event){
    var current_id = event.currentTarget.getAttribute('annotation-id')
    var same_elements = document.getElementsByClassName('annotation-subtag')
    for(var i =0; i<same_elements.length; i++){
        if(same_elements[i].getAttribute('annotation-id') == current_id){
            var token_id = same_elements[i].getAttribute('child-token-id') 
            same_elements[i].style.backgroundColor = '#42c4fc';
            same_elements[i].style.fontWeight = "500";
            if(!selected_tokens.includes(parseInt(token_id))){
            var child_element = document.querySelector(`[token-id = "${token_id}"]`)
            child_element.style.backgroundColor = '#42c4fc';
            child_element.style.fontWeight = "300";
            }
            }
        }
}
function unselect_ann(event){
    var current_id = event.currentTarget.getAttribute('annotation-id')
    var same_elements = document.getElementsByClassName('annotation-subtag')
    for(var i =0; i<same_elements.length; i++){
    if(same_elements[i].getAttribute('annotation-id') == current_id){
        same_elements[i].style.backgroundColor = same_elements[i].getAttribute('ann-color');
        var token_id = same_elements[i].getAttribute('child-token-id') 
        same_elements[i].style.fontWeight = "";
        if(!selected_tokens.includes(parseInt(token_id))){
            var child_element = document.querySelector(`[token-id = "${token_id}"]`)
            child_element.style.backgroundColor = '';
            child_element.style.fontWeight = "";
            }
        }
    }
}

function select_token(event){
    var current_id = parseInt(event.currentTarget.getAttribute('token-id'))
    if(selected_tokens.includes(current_id)){
        selected_tokens.splice(selected_tokens.indexOf(current_id),1)
        event.currentTarget.style.backgroundColor = ""
        event.currentTarget.style.color = ""
        event.currentTarget.style.fill = ""
        event.currentTarget.style.fontWeight = ""
        if(selected_tokens.length == 0){
            var sent_index = event.currentTarget.getAttribute('token-sent-order')
            var tools_columns = document.querySelectorAll(`[link-sent = "${sent_index}"]> div`)
            for(var j = 0; j<tools_columns.length; j++){
                tools_columns[j].style.visibility = "hidden"
            }
        }

    }
    else{
        selected_tokens.push(current_id)
        event.currentTarget.style.backgroundColor = "#ff0000"
        event.currentTarget.style.color = "white"
        event.currentTarget.style.fill = "white"
        event.currentTarget.style.fontWeight = 500
        if(selected_tokens.length == 1){
            var sent_index = event.currentTarget.getAttribute('token-sent-order')
            var tools_columns = document.querySelectorAll(`[link-sent = "${sent_index}"]> div`)
            for(var j = 0; j<tools_columns.length; j++){
                tools_columns[j].style.visibility = "visible"
            }
        }
    }
}
function select_token_moving(event){
    if(key_down){
        var current_id = parseInt(event.currentTarget.getAttribute('token-id'))
            if(!selected_tokens.includes(current_id)){
                select_token(event)
            }
    }
}
function create_annotation_selection(event){
    var forma = document.getElementById("annotation-create-form-area")
    forma.style.display = "block"
    document.getElementById("query-type-field").value = 1
    document.getElementById("selected-tokens").value = `[${selected_tokens.toString()}]`
}
{%if ann_right%}
function modify_annotation_selection(event){
    var forma = document.getElementById("annotation-create-form-area")
    var markup_id = event.currentTarget.getAttribute("annotation-id")

    document.getElementById("selected-markup-id").value = markup_id
    var using_tag_id = text_response.data.markup_info[markup_id].tag_id
    forma.style.display = "block"
    selected_tag = using_tag_id

    document.getElementById("selected-classif-tag").value = using_tag_id
    var reason_options = document.getElementById('selected_reason').getElementsByTagName("option")
    for(var i = 0; i<reason_options.length;i++){
        if(reason_options[i].value == text_response.data.markup_info[markup_id].reason_id){
            reason_options[i].parentNode.selectedIndex = i
            break
        }
    }
    var grade_options = document.getElementById('selected_grade').getElementsByTagName("option")
    for(var i = 0; i<grade_options.length;i++){
        if(grade_options[i].value == text_response.data.markup_info[markup_id].grade_id){
            grade_options[i].parentNode.selectedIndex = i
            break
        }
    }
    document.getElementById("correct-text").value = text_response.data.markup_info[markup_id].correct
    document.getElementById("comment-text").value = text_response.data.markup_info[markup_id].comment
    if(text_response.data.markup_info[markup_id].markup_type == 2){
        var only_err_content = document.getElementsByClassName("only-errors")
        for(var i = 0;i< only_err_content.length; i++){
            only_err_content[i].parentNode.style.display = "none"
        }
    }
    else{
        var only_err_content = document.getElementsByClassName("only-errors")
        for(var i = 0;i< only_err_content.length; i++){
            only_err_content[i].parentNode.style.display = "block"
        }
    }
    document.getElementById("creator-name").innerHTML = `${text_response.data.markup_info[markup_id].user_name} ${text_response.data.markup_info[markup_id].user_last_name}`
    document.getElementById("creator-field").style.display = "block"
    document.getElementById("annotation-create-form-data").style.display = "block"
    document.getElementById("form-delete-button").style.display = "block"
    document.getElementById("query-type-field").value = 2
    var current_tag = document.querySelector(`[name-tag-id="${using_tag_id}"`)
    var display_tag_name = document.getElementById("tag-type-selected-tag")
    display_tag_name.innerHTML = current_tag.innerHTML
    display_tag_name.style.display = "block"
    display_tag_name.style.backgroundColor = current_tag.style.backgroundColor
    current_tag.style.border = "2pt solid #00ff3c"
    current_tag.style.backgroundColor = "white"
    
}
{%endif%}

function delete_tokens_selection(event){
    for(var i = 0; i<selected_tokens.length;i++){
        var element = document.querySelector(`[token-id = "${selected_tokens[i]}"]`)
        element.style.backgroundColor = ""
        element.style.color = ""
        element.style.fill = ""
        element.style.fontWeight = "" 
    }
    selected_tokens = []
    var all_tools = event.currentTarget.parentNode.children
    for(var j = 0; j<all_tools.length; j++){
        all_tools[j].style.visibility = "hidden"
    }
}

function select_classification_spoiler(event){
    var element = event.currentTarget
    if(element.getAttribute('spoiler-condition') == 0){
        element.innerHTML = '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">    <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>'
        element.setAttribute('spoiler-condition','1')
        var element_id = element.getAttribute('spoiler-tag-id')
        var content = document.querySelector(`[content-tag-id = "${element_id}"]`)
        content.style.display = "block"        }
    else{
        element.innerHTML = '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>'
        element.setAttribute('spoiler-condition','0')
        var element_id = element.getAttribute('spoiler-tag-id')
        var content = document.querySelector(`[content-tag-id = "${element_id}"]`)
        content.style.display = "none"
    }
}

function select_classification_selector(event){
    if(selected_tag > 0){
        var old_tag = document.querySelector(`[name-tag-id = "${selected_tag}"]`)
        old_tag.style.backgroundColor = old_tag.getAttribute('name-tag-color')
        old_tag.style.border = "2pt solid white"
    }
    else{
        document.getElementById("annotation-create-form-data").style.display = "block"
    }
    selected_tag = event.currentTarget.getAttribute("name-tag-id")
    document.getElementById("selected-classif-tag").value = selected_tag
    var display_tag_name = document.getElementById("tag-type-selected-tag")
    display_tag_name.innerHTML = event.currentTarget.innerHTML
    display_tag_name.style.display = "block"
    display_tag_name.style.backgroundColor = event.currentTarget.getAttribute("name-tag-color")
    event.currentTarget.style.border = "2pt solid #00ff3c"
    event.currentTarget.style.backgroundColor = "white"
    
    var change_tag_type = event.currentTarget.getAttribute('name-tag-type')
    if(change_tag_type == 1){
        var err_fields = document.getElementsByClassName("only-errors")
        for(var i=0; i<err_fields.length;i++){
            err_fields[i].parentNode.style.display = "block"
        }
    }
    else{
        reset_errors_fields(true)
    }
}
{%endblock%}

{#CSS-состовляющая создания/редактирования аннотации#}
{%block annotation_edit_form_css%}
{%if ann_right%}

#tag-type-create-form-area-name{
    margin-bottom: 5px;
}
#annotation-create-form-content{
    border-radius: 10pt;
    margin-left:10px;
    margin-right: 10px;
    margin-top:20px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left:10px;
    padding-right:10px;
    background-color: white;
    overflow-y: auto;
}
#annotation-create-form-content::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}
#annotation-create-form-content::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #9b9b9b;
}
textarea::-webkit-scrollbar{
    width:8px;
    background-color: #f1f1f1;
}
textarea::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #9b9b9b;
}
#tag-type-create-form-area{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 600;
    user-select: none;
    left:10px;
    right: 10px;
    top:8px;
    bottom: 4px;
}
#tag-type-create-form-classification{
    height: 200px;
    overflow-y: scroll;
    border: 1pt #cfcfcf solid;
    border-bottom-left-radius:2pt;
    border-top-left-radius:2pt;
}
#tag-type-create-form-classification::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}
#tag-type-create-form-classification::-webkit-scrollbar-thumb {
    background-color:var(--color-primary);
}
#tag-type-create-form-content::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}
#tag-type-create-form-content::-webkit-scrollbar-thumb {
    background-color:var(--color-primary);
}
.classification-tag-name{
    margin-left: 5pt;
    border-radius: 4pt;
    border: 2pt solid white;
    padding: 4pt;
}
.classification-tag-spoiler{
    width:1em;
    height: 1em;
    text-align: center;
}
.classifiation-tag-info>div{
    display: inline-block;
}
.classifiation-tag-info{
    margin-bottom: 5px;
}
.classification-tag-content{
    display: none;
    padding-left: 20px;
}
#tag-type-selected-tag-area{
    margin-top: 5pt;
}
#tag-type-selected-tag{
    max-width: max-content; 
    margin-left: 5pt;
    border-radius: 4pt;
    border: 2pt solid white;
    padding: 4pt;
    display:none;
}
#annotation-create-form-data{
    height:40vh;
    /* width: 100%; */
    padding-bottom: 5px;
    display:none;
}
#annotation-create-submit{
    bottom: 10px;
    right:0px;
    background-color: #0dcaf0;
    color:white;
    outline: none;
    border:none;
    font-weight: 600;
    border-radius: 10pt;
    padding: 4pt;
}
#fields-list{
    padding:0px;
}
#fields-list>li{
    list-style-type: none;
    display:block;
    margin-bottom: 5px;
    width:80%;
}
#fields-list>li>label{
    display: block;
}
#fields-list>li>textarea{
    width: 80%;
    height: 30px;
    border-radius: 1pt;
    font-size: large;
    border:1px solid #cecece;
}
#fields-list>li>select{
    border-radius: 1pt;
    font-size: medium;
    border:1px solid #cecece;
}
.form-button{
    padding: 4pt;
    font-weight: 600;
    color:white;
    border:none;
    border-radius: 4pt;
    cursor: pointer;
    outline: none;
    margin-bottom:8pt;
    margin-right:-80%;
}

#tag-name-value{
    border-radius: 4pt;
    border: 2pt solid white;
    padding: 4pt;
}
#creator-field{
    display:none;
    margin-bottom:5px;
}
#creator-name{
    margin-left: 8px;
    display:inline-block;
}
{%else%}

#tag-info-table{
    margin-left: auto;
    margin-right: auto;
    /* height: 30vh;
    width: 30vw; */
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-collapse: collapse;
}
#annotation-watch-content{
    border-radius: 10pt;
    margin-left:10px;
    margin-right: 10px;
    margin-top:20px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left:10px;
    padding-right:10px;
    background-color: white;
    overflow-y: auto;
}
#annotation-watch-content::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}
#annotation-watch-content::-webkit-scrollbar-thumb {
    background-color: #0dcaf0;
}
.form-li-label{
    text-align: left;
}

.only-errors{
    display:none;
}
.info-value{
    border-radius: 4pt;
    border: 2pt solid white;
}
#tag-reason-value{
    width:fit-content;
    background-color: #f2fa8a;
}
#tag-grade-value{
    width:fit-content;
    background-color: #fad38a;
}
{%endif%}

#annotation-create-form{
    border-radius: 2pt;
    width: 40%;
    margin: auto;
    margin-top:10px;
    padding-bottom:20px;
    background-color: white;
}
#annotation-create-from-header{
    background-color: var(--color-primary);
    padding-bottom: 5px;
    border-top-left-radius:2pt;
    border-top-right-radius:2pt;
}
#annotation-create-form-close{
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    cursor:pointer;
    text-align: center;
    font-weight: 600;
    font-size: 20pt;
    color: white;
    float:right;
    width:40px;
    display: inline-block;
}
#annotation-create-form-close>svg{
    fill:white;
    transition: 0.5s;
}
#annotation-create-form-close:hover > svg{
    fill:var(--color-warning)
}
#annotation-create-form-name{
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    font-weight: 600;
    color: white;
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;

}
{%endblock%}

{#HTML-состовляющая создания/редактирования аннотации#}
{%block annotation_edit_form_html%}

<div id = "annotation-create-form">
    <div id = 'annotation-create-from-header'>
        <div id = "annotation-create-form-name">Аннотирование</div>
        <div id = "annotation-create-form-close" v-on:click = "CloseAnnCreateForm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
              </svg>
        </div>
    </div>
    <div id = "annotation-create-form-content">
        <div id = "tag-type-create-form-area">
            <div id ="tag-type-create-form-area-name">Выберите тег:</div>
            <div id = "tag-type-create-form-area-content">
                <div id="tag-type-create-form-classification" content-tag-id = "0"></div>
            <div id = "tag-type-selected-tag-area">Выбранный тег: <div id = "tag-type-selected-tag"></div></div>
            <form id = "annotation-create-form-data" method = "none" onsubmit ="false;" disabled>
                <ul id="fields-list">
                {{annotation_form.as_ul}}
                </ul>
                <div id="creator-field">Создатель аннотации:<div id="creator-name"></div></div>
                <div class = 'btn-group'>
                    <button class = "btn update-button" id = "form-save-button" type = "button" v-on:click = "Save">Сохранить</button>
                    <button class = "btn del-button"  style = "margin-left:10px;" id = "form-delete-button" type = "button" v-on:click = "Delete">Удалить</button>
                </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
{%endblock%}

{%block annotation_watch_form_html%}
<div id = "annotation-create-form">
<div id = "annotation-create-form-name">Просмотр</div>
<div id = "annotation-create-form-close" v-on:click = "CloseAnnCreateForm">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
</div>
    <div id="annotation-watch-content">
    <table id="tag-info-table">
        <tr id = "tag-name">
            <td class = "form-li-label">Тег: </td>
            <td>
            <div id = "tag-name-value" class = "info-value"></div>
            </td>
        </tr>
        <tr id = "tag-reason" class=  "only-errors">
            <td class = "form-li-label">Причина: </td>
            <td>
            <div id = "tag-reason-value" class = "info-value"></div>
            </td>
        </tr>
        <tr id = "tag-grade" class=  "only-errors">
            <td class = "form-li-label">Степень грубости: </td>
            <td>
            <div id = "tag-grade-value" class = "info-value"></div>
            </td>
        </tr>
        <tr id = "tag-correct" class = "only-errors">
            <td class = "form-li-label">Правильный вариант: </td>
            <td>
            <div id = "tag-correct-value" class = "info-value"></div>
            </td>
        </tr>
        <tr id = "tag-comment" class = "only-errors">
            <td class = "form-li-label">Комментарий преподавателя</td>
            <td>
            <div id = "tag-comment-value" class = "info-value"></div>
            </td>
        </tr>
    </table>
    </div>
</div>
{%endblock%}
{%block annotation_edit_form_script%}

{#Получение классификации#}
function get_classification(){
    axios({
        url: "{%url 'get_classification' %}",
        method: 'POST',
        data: {'text_id': text_id},
        headers: {"X-CSRFToken": "{{csrf_token}}"},
        }).then(function (response){
            classification_response = response
            re_built_classification(classification_response, language)
        }).catch(function (error) {
            // your action on error success
        });
}
{%endblock%}

{#Получение текста и разметки#}
{%block get_text%}
function get_text(){
    axios({
            url: "{%url 'get_text' %}",
            method: 'POST',
            data: {'text_id': text_id},
            headers: {"X-CSRFToken": "{{csrf_token}}"},
            })
            .then(function (response) {
                text_response = response
                let markers = re_built_text(text_response, language)
                    })
            .catch(function (error) {
            // your action on error success
            });
};
{%endblock%}

{%block bone_funcs%}
{%if ann_right%}
function sent_annotation_info(link){
    var reason_sel = document.getElementById("selected_reason")
    var grade_sel = document.getElementById("selected_grade")
    axios({
        url: link,
        method: 'POST',
        data: 
        {   'user_id':{{user_id}},
            'query_type': document.getElementById("query-type-field").value,
            'classification_tag': document.getElementById("selected-classif-tag").value,
            'tokens': document.getElementById("selected-tokens").value,
            'markup_id': document.getElementById("selected-markup-id").value,
            'reason': reason_sel.options[reason_sel.selectedIndex].value,
            'grade': grade_sel.options[grade_sel.selectedIndex].value,
            'correct':document.getElementById("correct-text").value,
            'comment': document.getElementById('comment-text').value
        },
        headers: {"X-CSRFToken": "{{csrf_token}}"},
        }).then(function (response){
            close_ann_create_form()
            selected_tokens = []
            select_tag = 0
            get_text()
        }).catch(function (error) {
            // your action on error success
        });
}
function delete_annotation_info(link){
    
    axios({
        url: link,
        method: 'POST',
        data: 
        {    'query_type': '3',
            'markup_id': document.getElementById("selected-markup-id").value,
        },
        headers: {"X-CSRFToken": "{{csrf_token}}"},
        }).then(function (response){
            close_ann_create_form()
            selected_tokens = []
            select_tag = 0
            get_text()
        }).catch(function (error) {
            // your action on error success
        });
}
{%endif%}
function reset_language(event){
    if(event.target.selectedIndex!=language){
        language = event.target.selectedIndex
        {%if ann_right%}
            re_built_classification(classification_response, language)
            re_built_text(text_response,language)
        {%else%}
            re_built_text(text_response,language)
        {%endif%}
    }
}
{%endblock%}