<!-- генератор тестов для студента (упрощенный). -->
{% extends "./base.html" %} {% load static %}
{% block style %}
<style>
    .icon-collapse:hover {
        fill:#0d6efd;
    }
    .scroll-box-1 {
        height: 80%;
        max-height: 400px;
        overflow-y: auto;
    }
    .scroll-box-2 {
        height: 80%;
        max-height: 300px;
        overflow-y: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .scroll-box-2::-webkit-scrollbar {
        display: none;
    }
    .percent {
    position: relative;
    display: inline-block;
    }

    .percent::after {
        position: absolute;
        right: 50px;
        top: 7px;
        content: attr(data-percent);
        pointer-events: none;
        opacity: 0.8;
    }
</style>
{% endblock %}
{# <!-- onclick="makeTestStudent('{% url 'generator_app:generate_tasks' %}', '{% url 'generator_app:create_test' %}', '{% url 'generator_app:send_student_test' %}', {{ stud_id }})" --> #}
{% block body %}
<body onload="loadTexts('{% url 'generator_app:get_student_texts_names' stud_id %}', {{stud_id}})"> 
    <!-- шапка. -->
    {% include "navbar.html" %}

    <!-- содержимое страницы. -->
    {% url 'generator_app:generate_tasks' as task_url %}
    {% url 'generator_app:send_student_test' as send_url %}
    {% url 'generator_app:create_test' as submit_url %}
    {% include "./name_popup.html" with func="makeTestStudent" task_url=task_url submit_url=submit_url send_url=send_url stud_id=stud_id %}
    <div class="container-fluid d-flex flex-wrap justify-content-between">
            <div class="d-inline-flex align-items-center col-1">
                <button class="btn btn-outline-dark" onclick="redirectto('{% url 'generator_app:main_menu' %}')"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                </svg></button>
                <!-- это нереально смешно. я очень смеюсь. свг кнопка. разнос. -->
            </div>
            <div class="d-inline-flex align-items-center">
                <h1 class="pt-2 pb-2">Новый тест</h1>
            </div>
            <div class="d-inline-flex align-items-center col-1">
                <!-- да, это пустой див для центрирования текста заголовка. и что вы мне сделаете. -->
            </div>
    </div>
    <div class="container-fluid p-1">
        <div class="row justify-content-center">
            <!-- левая половина экрана. -->
            <div class="col-8 rounded bg-body-secondary pb-3 me-2">
                <div class="row">
                    <!-- collapsible часть. -->
                    <div class="col">
                        <div class="row text-center mt-1">
                            <h2>Параметры теста</h2>
                        </div>
                        <div class="row mt-2 mx-2 pb-3">
                            <div class="col mt-1">
                                <h4>Тексты</h4>
                                <div class="container rounded bg-white py-1 scroll-box-1" id="textSelectionBox">
                                    <!-- в контейнере автоматически появится скролл, если содержимого будет слишком много. -->
                                    <div class="form-check border-bottom">
                                        <input class="form-check-input" type="checkbox" onclick="selectAllTextsStudent(this)" value="" id="textCheckAll">
                                        <label class="form-check-label" for="textCheckAll">
                                            Выбрать все
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- тип ошибки. -->
                            <div class="col mt-1">
                                <h4>Тип ошибки</h4>
                                <div class="container rounded bg-white py-1 scroll-box-1">
                                    <div class="form-check border-bottom">
                                        <input class="form-check-input" type="checkbox" value="" id="mistakeCheckAll">
                                        <label class="form-check-label" for="mistakeCheckAll">
                                            Выбрать все
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="mistakeCheck1">
                                        <label class="form-check-label" for="mistakeCheck1">
                                            Орфографическая
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="mistakeCheck2">
                                        <label class="form-check-label" for="mistakeCheck2">
                                            Грамматическая
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mx-2 mt-4">
                            <div class="col col-6">
                                <!-- количество упражнений. -->
                                <label for="inputTaskAmount" class="col-form-label">Количество упражнений</label>
                                <input type="number" id="inputTaskAmount" class="form-control" aria-describedby="inputTaskAmountComment">
                                <span id="inputTaskAmountComment" class="form-text">
                                Число от 1 до 50.
                                </span>
                                <!-- я пока не стала разбираться с тем, как установить ограничение для стрелочек. -->
                            </div>
                        </div>

                        <div class="row mt-3 justify-content-center">        
                            <button class="btn btn-primary col-5" type="submit" data-bs-toggle="modal" data-bs-target="#nameModal">Сгенерировать упражнения</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}