<!-- табличка с результатами решения всех тестов от преподавателя одним студентом. для, собственно, этого студента. -->
{% extends "./base.html" %} {% load static %}
{% block body %}
<body> 
    <!-- шапка. -->
    {% include "navbar.html" %}

    <!-- содержимое страницы. -->

    <div class="container-fluid d-flex flex-wrap justify-content-between">
            <div class="d-inline-flex align-items-center col-1">
                <button class="btn btn-outline-dark" onclick="redirectto('{% url 'generator_app:main_menu' %}')"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                  </svg></button>
                  <!-- это нереально смешно. я очень смеюсь. свг кнопка. разнос. -->
            </div>
            <div class="d-inline-flex align-items-center">
                <h3 class="pt-3 pb-2">Тесты от преподавателя</h3>
            </div>
            <div class="d-inline-flex align-items-center col-1">
                <!-- да, это пустой див для центрирования текста заголовка. и что вы мне сделаете. -->
            </div>
    </div>
    <div class="container rounded bg-body-secondary p-1">
        <div class="container rounded bg-white px-3 py-3">
            <table class="table table-hover align-middle">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Дата решения</th>
                    <th scope="col">Результат</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for test in testlist %}
                <tr>
                    <th scope="row" onclick="redirectto('{% url 'generator_app:solver' test.test_id %}')">{{ test.name }}</th>
                    {% if test.status.score %}
                    <td>{{ test.status.finish_date }}</td>
                    <td>{{ test.status.score }}</td>
                    {% else %}
                    <td>Тест не решен</td>
                    <td>Тест не решен</td>
                    {% endif %}
                    <!-- это свг стрелки вниз (скачать). -->
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16" onclick="exportTest({{test.test_id}},'{{test.name}}','{% url 'generator_app:download_docx' %}')">
						<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
						<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
					</svg></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}