<!-- оч маленький тестик который можно посмотреть. без вариантов ответа. -->
{% extends "./base.html" %}
{% block body %}
<body> 
    <!-- шапка. -->
    {% include "navbar.html" %}

    <!-- содержимое страницы. -->
    {% url 'generator_app:change_task_texts' as change_url %}
    <div class="container-fluid d-flex flex-wrap justify-content-between">
            <div class="d-inline-flex align-items-center col-1">
                <button class="btn btn-outline-dark" onclick="redirectback()"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                  </svg></button>
                  <!-- это нереально смешно. я очень смеюсь. свг кнопка. разнос. -->
            </div>
            <div class="d-inline-flex align-items-center">
                <h3 class="pt-3 pb-2">Тест "{{test.name}}"</h3>
            </div>
            <div class="d-inline-flex align-items-center col-1">
                <!-- да, это пустой див для центрирования текста заголовка. и что вы мне сделаете. -->
            </div>
    </div>
    <div class="container rounded bg-body-secondary p-1">
        <div class="container rounded bg-white px-5">
            <!-- вот тут прошу обратить внимание. у первого элемента в списке pt-4. у последнего pt3 pb-4 и нет border-bottom. -->
            {% for e in exercises %}
            {% if forloop.first %}
            <div class="container-fluid d-flex flex-wrap border-bottom pt-4">
            {% elif forloop.last %}
            <div class="container-fluid d-flex flex-wrap pt-3 pb-4">
            {% else %}
            <div class="container-fluid d-flex flex-wrap border-bottom pt-3">
            {% endif %}
                <div>
                    <p class="editor printable" onclick="toggle_editor(this)" id="printable-before-{{ e.task_id }}">{{ e.text_before }}</p>
                    <input type="text" class="editor writable e-hidden" id="writable-before-{{ e.task_id }}" onblur="untoggle_editor(this)">
                </div>
                <p class="editor consistency"> __<b>{{ e.answer }}</b>__ </p>
                <div>
                    <p class="editor printable" onclick="toggle_editor(this)" id="printable-after-{{ e.task_id }}">{{ e.text_after }}</p>
                    <input type="text" onblur="untoggle_editor(this)" class="editor writable e-hidden" id="writable-after-{{ e.task_id }}">
                </div>
                    {% if e.inf %}
                    <p class="editor consistency"><i>({{ e.inf }})</i></p>
                    {% endif %}
                    {% if e.input_type == 1 %}
                    <p class="editor consistency"><i>
                        ({% for v in e.variants %}
                        {% if forloop.first %}
                        {{ v.variant_text }}
                        {% else %}
                        /{{ v.variant_text }}
                        {% endif %}
                        {% endfor %})
                    </i></p>
                    {% endif %}
            </div>
            {% endfor %}
            <div class="container-fluid d-flex justify-content-end align-items-center">
                <div class="m-2 e-hidden" id="editor-save-success">
                    {% include "./exercise_checkmark.html" %}
                </div>
                <button class="btn btn-primary m-2" onclick="register_changes('{{ change_url }}')">Сохранить изменения</button>
                <button class="btn btn-danger m-2" onclick="cancel_changes()">Отменить изменения</button>
            </div>
        </div>
    </div>
</body>
{% endblock %}
