<!-- результат решения теста конкретным студентом. -->
{% extends "./base.html" %} {% load static %}
{% block body %}
<body> 
    <!-- шапка. -->
    {% include "navbar.html" %}

    <!-- содержимое страницы. -->
    <div class="container-fluid d-flex flex-wrap justify-content-between">
            <div class="d-inline-flex align-items-center col-1">
                <button class="btn btn-outline-dark" onclick="redirectto('{% url 'generator_app:assigned_students' test.test_id %}')"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                  </svg></button>
                  <!-- это нереально смешно. я очень смеюсь. свг кнопка. разнос. -->
            </div>
            <div class="d-inline-flex align-items-center">
                <h3 class="pt-3 pb-2">Решение теста "{{ test.name }}" студентом {{ stud.fullname }}</h3>
            </div>
            <div class="d-inline-flex align-items-center col-1">
                <!-- да, это пустой див для центрирования текста заголовка. и что вы мне сделаете. -->
            </div>
    </div>
    <div class="container rounded bg-body-secondary p-1">
        <div class="container rounded bg-white px-5">
            <!-- вот тут прошу обратить внимание. у первого элемента в списке pt-4. у последнего pt3 pb-4 и нет border-bottom. -->
            <!--
            <div class="row border-bottom pt-4 justify-content-between">
                <div class="col">
                    <p>{{ first.text_before }} <b><i>{{ first.answer.user_input }}</i></b> {{ first.text_after }} 
                        {% if first.inf %}
                        <br><i>({{ first.inf }})</i>
                        {% endif %}
                    </p>
                </div>
                <div class="col" style="margin-top: -2px;">
                    {% if first.answer.status %}
                    {% include "./exercise_checkmark.html" %}
                    {% else %}
                    {% include "./exercise_crossmark.html" %}
                    {% endif %}
                </div>
            </div>
            -->
            {% for e in exercises_mid %}
            {% if forloop.first %}
            <div class="row border-bottom pt-4 justify-content-between">
            {% elif forloop.last %}
            <div class="row pt-3 pb-4 justify-content-between">
            {% else %}
            <div class="row border-bottom pt-3 justify-content-between">
            {% endif %}
                <div class="col">
                    <p>{{ e.text_before }} <b><i>{{ e.answer.user_input }}</i></b> {{ e.text_after }} 
                        {% if e.inf %}
                        <br><i>({{ e.inf }})</i>
                        {% endif %}
                    </p>
                </div>
                <div class="col" style="margin-top: -2px;">
                    {% if e.answer.status %}
                    {% include "./exercise_checkmark.html" %}
                    {% else %}
                    {% include "./exercise_crossmark.html" %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <!--
            <div class="row pt-3 pb-4 justify-content-between">
                <div class="col">
                    <p>{{ last.text_before }} <b><i>{{ last.answer.user_input }}</i></b> {{ last.text_after }}
                        {% if last.inf %}
                        <br><i>({{ last.inf }})</i>
                        {% endif %}
                    </p>
                </div>
                <div class="col" style="margin-top: -2px;">
                    {% if last.answer.status %}
                    {% include "./exercise_checkmark.html" %}
                    {% else %}
                    {% include "./exercise_crossmark.html" %}
                    {% endif %}
                </div>
            </div>
            -->
        </div>
        <div class="ms-1">Дата решения: {{ solving_status.finish_date }}</div>
    </div>
</body>
{% endblock %}